Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

Edit README
  README.md
Due: prettier -c

Edit README
  README.md
  images/arccode.png
Due: prettier -c

Lint
  README.md
Due: prettier -c

Remove image
  images/arccode.png
Due: none

Revert "fix: return 500 Internal Server Error on python error"
  src/events/http/HttpServer.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  tests/runtimes/python/python3/handler.py
  tests/runtimes/python/python3/python3.test.js
  tests/runtimes/python/python3/serverless.yml
Due: eslint, prettier -c

Fix preLoadModules
  src/ServerlessOffline.js
Due: eslint, prettier -c

Revert
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Improve README
  README.md
Due: prettier -c

Publish v14.3.1
  CHANGELOG.md
  package.json
Due: prettier -c

Fix tests
  src/lambda/handler-runner/python-runner/PythonRunner.js
  tests/runtimes/python/python3/handler.py
  tests/runtimes/python/python3/python3.test.js
  tests/runtimes/python/python3/serverless.yml
Due: eslint, prettier -c

Publish v13.7.1
  package.json
Due: prettier -c

Fix dependencies
  package-lock.json
Due: prettier -c

Publish v13.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

feat: add support for yarn pnp
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

fix: add execArgv
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

chore: clean up
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

fix: pathToFileURL
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

chore: add yarn pnp test
  .gitignore
  package-lock.json
  tests/installYarnModules.js
  tests/scenario/yarn-pnp/app/.gitignore
  tests/scenario/yarn-pnp/app/.pnp.cjs
  tests/scenario/yarn-pnp/app/.yarn/install-state.gz
  tests/scenario/yarn-pnp/app/package.json
  tests/scenario/yarn-pnp/app/serverless.yml
  tests/scenario/yarn-pnp/app/src/index.ts
  tests/scenario/yarn-pnp/app/yarn.lock
  tests/scenario/yarn-pnp/serverless-esbuild.test.js
Due: eslint, prettier -c

fix: ignore .pnp.cjs
  .eslintignore
  .prettierignore
Due: none

fix: add yarn release
  .gitignore
  tests/scenario/yarn-pnp/app/.yarn/releases/yarn-4.1.1.cjs
  tests/scenario/yarn-pnp/app/.yarnrc.yml
Due: prettier -c

fix: ignore yarn-4.1.1.cjs
  .eslintignore
  .prettierignore
Due: none

chore: remove yarn pnp test
  .eslintignore
  tests/scenario/yarn-pnp/app/.gitignore
  tests/scenario/yarn-pnp/app/.pnp.cjs
  tests/scenario/yarn-pnp/app/.yarn/install-state.gz
  tests/scenario/yarn-pnp/app/.yarn/releases/yarn-4.1.1.cjs
  tests/scenario/yarn-pnp/app/.yarnrc.yml
  tests/scenario/yarn-pnp/app/package.json
  tests/scenario/yarn-pnp/app/serverless.yml
  tests/scenario/yarn-pnp/app/src/index.ts
  tests/scenario/yarn-pnp/app/yarn.lock
  tests/scenario/yarn-pnp/serverless-esbuild.test.js
Due: eslint, prettier -c

chore: update FUNDING
  .github/FUNDING.yml
Due: prettier -c

chore: update FUNDING (#1822)
  .github/FUNDING.yml
Due: prettier -c

Publish v14.3.2
  CHANGELOG.md
  package.json
Due: prettier -c

chore: fix prettier
  CHANGELOG.md
Due: prettier -c

Publish v13.8.1
  CHANGELOG.md
  package.json
Due: prettier -c

Update package.json
  package.json
Due: prettier -c

fix(deps): vulnerability in jsonpath-plus
  package-lock.json
  package.json
Due: prettier -c

fix(deps): vulnerability in jsonpath-plus (#1828)
  package-lock.json
  package.json
Due: prettier -c

fix(deps): vulnerability in jsonpath-plus (#1827)
  package-lock.json
  package.json
Due: prettier -c

Publish v14.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
