Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

chore: return event, context in examples
  examples/events/http/src/handler.js
  examples/events/httpApi/src/handler.js
  examples/events/schedule/src/handler.js
  examples/events/websocket/src/handler.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
Due: prettier -c

Request authorizer now uses async function
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

chore: fix websocket example, add one-way message
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/events/websocket/serverless.yml
  examples/events/websocket/src/handler.js
Due: eslint, prettier -c

chore: remove console.log
  examples/events/websocket/src/handler.js
Due: eslint, prettier -c

Request type authorizers can now be with payloadFormat 2.0
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  src/utils/getRawQueryParams.js
  src/utils/index.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
  tests/integration/request-authorizer/src/handler.js
Due: eslint, prettier -c

Added support for authorizer with simple responses
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

Fixed regex for supporting \$request on identitySource
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  tests/integration/authorizer/authorizer.test.js
  tests/integration/authorizer/src/authorizer.js
  tests/integration/request-authorizer/request-authorizer.test.js
Due: eslint, prettier -c

chore: bump deps, hapi v21 major
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
Due: prettier -c

feat: httpApi with request authorizer (#1600)
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  src/utils/getRawQueryParams.js
  src/utils/index.js
  tests/integration/authorizer/authorizer.test.js
  tests/integration/authorizer/src/authorizer.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
  tests/integration/request-authorizer/src/handler.js
  tests/integration/request-authorizer/src/package.json
Due: eslint, prettier -c

chore: property order nit
  tests/integration/request-authorizer/serverless.yml
Due: prettier -c

chore: bump memory, use arm64, direct deployment
  tests/integration/request-authorizer/serverless.yml
Due: prettier -c

v11.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Implemented ALB support
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/events/alb/Alb.js
  src/events/alb/AlbEventDefinition.js
  src/events/alb/HttpServer.js
  src/events/alb/index.js
  src/events/alb/lambda-events/LambdaAlbRequestEvent.js
  src/events/alb/lambda-events/index.js
Due: eslint, prettier -c

added testcases for ALB handlers
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
  tests/integration/alb-handler/src/package.json
Due: eslint, prettier -c

added ALB event example
  examples/events/alb/.npmrc
  examples/events/alb/handler.js
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/alb/serverless.yml
Due: eslint, prettier -c

Added support for wildcards in path
  src/events/alb/HttpServer.js
  src/events/alb/lambda-events/LambdaAlbRequestEvent.js
  src/utils/generateHapiPath.js
  src/utils/index.js
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
Due: eslint, prettier -c

Added CORS support for ALB requests
  src/events/alb/HttpServer.js
Due: eslint, prettier -c

fixed response headers
  src/events/alb/HttpServer.js
Due: eslint, prettier -c

fixed issue with query params and headers
  src/events/alb/lambda-events/LambdaAlbRequestEvent.js
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
Due: eslint, prettier -c

Adds support for request authorizers to have a querystring identity source
  src/events/http/createAuthScheme.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

updated to match recent refactoring
  src/ServerlessOffline.js
  src/events/alb/Alb.js
  src/events/alb/HttpServer.js
  src/events/alb/lambda-events/LambdaAlbRequestEvent.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
  tests/integration/alb-handler/src/package.json
Due: eslint, prettier -c

Basic docker image building
  package-lock.json
  src/ServerlessOffline.js
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

Pass image to endpoint construction
  src/events/http/Http.js
Due: eslint, prettier -c

Endpoints now create without error
  src/events/http/Http.js
Due: eslint, prettier -c

docker container can be brought up
  src/ServerlessOffline.js
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/custom-runner/DockerContainer.js
  src/lambda/handler-runner/custom-runner/DockerImage.js
  src/lambda/handler-runner/custom-runner/DockerRunner.js
  src/lambda/handler-runner/custom-runner/index.js
Due: eslint, prettier -c

Fix startup
  src/lambda/handler-runner/custom-runner/DockerContainer.js
Due: eslint, prettier -c

Disable ping
  src/lambda/handler-runner/custom-runner/DockerContainer.js
Due: eslint, prettier -c

Remove comment
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

feat: Add support for request authorizers to have a querystring identity source (#1610)
  src/events/http/createAuthScheme.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

v11.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: examples, add eslint ignore rule
  examples/.eslintrc.cjs
Due: none

Add support for nodejs18.x
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

feat: Add support for nodejs18.x runtime (#1616)
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

v11.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

chore: fix prettier
  .lintstagedrc
Due: none

chore: temporary lock ci to nodejs v19.0.1
  .github/workflows/nodejs.yml
Due: prettier -c
