Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

resolved conflicts from upstream
  package.json
Due: prettier -c

resolved conflicts from upstream
  package-lock.json
Due: prettier -c

fix: run build
  package.json
Due: prettier -c

fix tests
  tests/endToEnd/environmentVariables/environmentVariables.test.js
  tests/endToEnd/starRoutes/starRoutes.test.js
  tests/endToEnd/starRoutesWithProperties/starRoutes.test.js
  tests/endToEnd/trailingSlash/trailingSlash.test.js
  tests/installNpmModules.js
  tests/integration/custom-authentication/authenticationCustomVariable.test.js
  tests/integration/handler/handlerPayload.test.js
  tests/scenario/apollo-server-lambda/apollo-server-lambda.test.js
  tests/scenario/docker-in-docker/docker-in-docker.test.js
  tests/scenario/docker-serverless-webpack-test/docker-serverless-webpack.test.js
  tests/scenario/serverless-plugin-typescript-test/serverless-plugin-typescript.test.js
  tests/scenario/serverless-webpack-test/serverless-webpack.test.js
Due: eslint, prettier -c

tests: fix env
  package.json
  tests/mochaGlobalSetup.js
Due: eslint, prettier -c

bump deps
  package-lock.json
  package.json
Due: prettier -c

Try jest-light-runner
  babel.config.js
  jest.config.js
  package-lock.json
Due: eslint, prettier -c

Fix unit tests
  jest.config.units.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/utils/__tests__/parseMultiValueQueryStringParameters.test.js
  src/utils/__tests__/parseQueryStringParameters.test.js
  src/utils/__tests__/tests/parseQueryStringParameters.js
Due: eslint, prettier -c

Fix more tests
  src/ServerlessOffline.js
  src/lambda/handler-runner/HandlerRunner.js
Due: eslint, prettier -c

Fix webpack scenario tests
  CONTRIBUTING.md
  examples/tools/serverless-webpack/src/handler.ts
  examples/tools/ts-node/src/handler.ts
  jest.config.js
  jest.config.units.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  tests/scenario/apollo-server-lambda/apollo-server-lambda.test.js
Due: eslint, prettier -c

Solve conflicts
  CONTRIBUTING.md
  babel.config.js
  src/ServerlessOffline.js
  src/lambda/handler-runner/HandlerRunner.js
  tests/scenario/apollo-server-lambda/apollo-server-lambda.test.js
Due: eslint, prettier -c

Fix node 14
  package-lock.json
  package.json
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

Remove unneeded comments
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

Attempt to fix windows
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

Add esm tests
  tests/integration/handler-esm/handlerPayload.test.js
  tests/integration/handler-esm/serverless.yml
  tests/integration/handler-esm/src/handler.js
Due: eslint, prettier -c

Fix
  src/lambda/handler-runner/HandlerRunner.js
Due: eslint, prettier -c

feat: bump esm-only deps
  package-lock.json
  package.json
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/docker-runner/DockerImage.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/serverlessLog.js
  src/utils/checkDockerDaemon.js
  src/utils/checkGoVersion.js
  src/utils/detectExecutable.js
  tests/_setupTeardown/npmInstall.js
  tests/installNpmModules.js
  tests/integration/_testHelpers/buildInContainer.js
  tests/integration/_testHelpers/pullImage.js
  tests/integration/_testHelpers/setupTeardown.js
  tests/scenario/docker-in-docker.test.js
Due: eslint, prettier -c

chore: remove comments
  src/serverlessLog.js
Due: eslint, prettier -c

chore: remove jest configs
  jest.config.js
  jest.config.units.js
Due: eslint, prettier -c

feat: bump esm-only deps (#1456)
  jest.config.js
  jest.config.units.js
  package-lock.json
  package.json
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/docker-runner/DockerImage.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/serverlessLog.js
  src/utils/checkDockerDaemon.js
  src/utils/checkGoVersion.js
  src/utils/detectExecutable.js
  tests/_setupTeardown/npmInstall.js
  tests/installNpmModules.js
  tests/integration/_testHelpers/buildInContainer.js
  tests/integration/_testHelpers/pullImage.js
  tests/integration/_testHelpers/setupTeardown.js
  tests/scenario/docker-in-docker.test.js
Due: eslint, prettier -c

fix: add missing await
  tests/integration/_testHelpers/compressArtifact.js
Due: eslint, prettier -c

fix: remove template string parameter
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

fix: import createWriteStream from built-in node:fs module
  tests/integration/_testHelpers/compressArtifact.js
  tests/integration/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

fix: import stat built-in from node:fs module
  tests/integration/_testHelpers/compressArtifact.js
Due: eslint, prettier -c

fix: use named import
  tests/integration/_testHelpers/compressArtifact.js
Due: eslint, prettier -c

chore: order nit
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

refactor: extract clear module
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/clearModule.js
Due: eslint, prettier -c

fix: cleanup (#1457)
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/clearModule.js
  tests/integration/_testHelpers/compressArtifact.js
  tests/integration/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

refactor: use async fs/promises
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/clearModule.js
Due: eslint, prettier -c

chore: remove rule
  .eslintrc.cjs
Due: none

refactor: use async fs/promises (#1458)
  .eslintrc.cjs
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/clearModule.js
Due: eslint, prettier -c

fix: remove catch binding
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  src/events/http/lambda-events/LambdaIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/VelocityContext.js
  src/events/http/lambda-events/renderVelocityTemplateObject.js
  src/events/websocket/WebSocketClients.js
  src/events/websocket/WebSocketServer.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/utils/checkDockerDaemon.js
  src/utils/checkGoVersion.js
  src/utils/detectExecutable.js
  tests/_setupTeardown/npmInstall.js
Due: eslint, prettier -c

fix: remove catch binding (#1459)
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  src/events/http/lambda-events/LambdaIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/VelocityContext.js
  src/events/http/lambda-events/renderVelocityTemplateObject.js
  src/events/websocket/WebSocketClients.js
  src/events/websocket/WebSocketServer.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/utils/checkDockerDaemon.js
  src/utils/checkGoVersion.js
  src/utils/detectExecutable.js
  tests/_setupTeardown/npmInstall.js
Due: eslint, prettier -c

chore: remove unused copyfiles module
  package-lock.json
  package.json
Due: prettier -c

chore: remove unused rimraf module
  package.json
Due: prettier -c

chore: remove unused p-queue module
  package-lock.json
  package.json
Due: prettier -c
