Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.{css,html,js,json,md,yaml,yml}": ["prettier -c"]
}

Add ts-extension-load-esm test
  tests/handler-module-formats/module/handlerModuleFormats.test.js
  tests/handler-module-formats/module/serverless.yml
  tests/handler-module-formats/module/ts-extension-load-esm/.gitignore
  tests/handler-module-formats/module/ts-extension-load-esm/handler.ts
  tests/handler-module-formats/module/ts-extension-load-esm/node_modules/testpackage/index.js
  tests/handler-module-formats/module/ts-extension-load-esm/node_modules/testpackage/package.json
  tests/handler-module-formats/module/ts-extension-load-esm/package.json
Due: eslint, prettier -c

Edit README
  README.md
Due: prettier -c

Add support ruby 3.3
  src/config/supportedRuntimes.js
  tests/integration/docker/ruby/ruby3.2/serverless.yml
  tests/integration/docker/ruby/ruby3.3/dockerRuby3.3.test.js
Due: eslint, prettier -c

Update README.md
  README.md
Due: prettier -c

feat: Support CloudFormation Join & Sub function in environment variable (#1842)
  src/lambda/LambdaFunction.js
  src/utils/__tests__/renderIntrinsicFunction.test.js
  src/utils/renderIntrinsicFunction.js
Due: eslint, prettier -c

ci: bump actions/setup-go@v5
  .github/workflows/nodejs.yml
Due: prettier -c

attach hooks
  src/events/http/HttpServer.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
  src/utils/attachHttpHooks.js
  src/utils/index.js
Due: eslint, prettier -c

Add ruby 3.3 support
  src/config/supportedRuntimes.js
  tests/integration/docker/ruby/ruby3.3/dockerRuby3.3.test.js
  tests/integration/docker/ruby/ruby3.3/handler.rb
  tests/integration/docker/ruby/ruby3.3/serverless.yml
Due: eslint, prettier -c

Fix pretter
  tests/integration/docker/ruby/ruby3.3/dockerRuby3.3.test.js
  tests/integration/docker/ruby/ruby3.3/serverless.yml
Due: eslint, prettier -c

Add python 3.13 support
  src/config/supportedRuntimes.js
  tests/integration/docker/python/python3.13/dockerPython3.13.test.js
  tests/integration/docker/python/python3.13/handler.py
  tests/integration/docker/python/python3.13/serverless.yml
Due: eslint, prettier -c

feat: Add support for Node.js 24.x in Docker environment
  .github/workflows/nodejs.yml
  src/config/supportedRuntimes.js
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs24.x/dockerNodejs24.x.test.js
  tests/integration/docker/nodejs/nodejs24.x/handler.js
  tests/integration/docker/nodejs/nodejs24.x/serverless.yml
Due: eslint, prettier -c

Delete .claude/settings.local.json
  .claude/settings.local.json
Due: prettier -c

add gitignore
  .gitignore
Due: none

Add support for streaming response apis in offline mode
  README.md
  examples/streaming-response/handler.js
  examples/streaming-response/package-lock.json
  examples/streaming-response/package.json
  examples/streaming-response/serverless.yml
  src/events/http/Endpoint.js
  src/events/http/HttpServer.js
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/docker-runner/DockerRunner.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
  tests/integration/streaming-response/serverless.yml
  tests/integration/streaming-response/src/handler.js
  tests/integration/streaming-response/streamingResponse.test.js
Due: eslint, prettier -c

Improve ruby performance
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/handler-runner/ruby-runner/invoke.rb
Due: eslint, prettier -c

Add hot reload
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
Due: eslint, prettier -c

Add watchDires
  src/config/defaultOptions.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
Due: eslint, prettier -c

feat: add --watch hot reload for Lambda handlers
  README.md
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/FileWatcher.js
  src/lambda/FileWatcher.test.js
  src/lambda/Lambda.js
  src/lambda/LambdaFunctionPool.js
  src/lambda/LambdaFunctionPool.test.js
Due: eslint, prettier -c

ci: delete release workflow
  .github/workflows/release.yml
  package-lock.json
Due: prettier -c

Publish v14.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: tests
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  tests/_testHelpers/serverlessApiMockSetup.cjs
  tests/_testHelpers/setupTeardown.js
  tests/mochaHooks.cjs
Due: eslint, prettier -c

Remove Symmetrics promotional section from README
  README.md
Due: prettier -c

chore: replace fs-extra with native Node.js fs APIs
  package-lock.json
  package.json
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  tests/_testHelpers/compressArtifact.js
Due: eslint, prettier -c

chore: replace fs-extra with native node:fs
  package-lock.json
  package.json
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  tests/_testHelpers/compressArtifact.js
Due: eslint, prettier -c

Add ruby 3.4 support
  src/config/supportedRuntimes.js
  tests/integration/docker/ruby/ruby3.4/dockerRuby3.4.test.js
  tests/integration/docker/ruby/ruby3.4/handler.rb
  tests/integration/docker/ruby/ruby3.4/serverless.yml
Due: eslint, prettier -c

feat: add support for nodejs24.x runtime to v13. Closes #1879
  src/config/supportedRuntimes.js
  tests/integration/docker/nodejs/nodejs24.x/dockerNodejs24.x.test.js
  tests/integration/docker/nodejs/nodejs24.x/handler.js
  tests/integration/docker/nodejs/nodejs24.x/serverless.yml
Due: eslint, prettier -c

Add support for ruby 3.4
  src/config/supportedRuntimes.js
  tests/integration/docker/ruby/ruby3.4/dockerRuby3.4.test.js
  tests/integration/docker/ruby/ruby3.4/handler.rb
  tests/integration/docker/ruby/ruby3.4/serverless.yml
Due: eslint, prettier -c

Update src/config/supportedRuntimes.js
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

fix: keep authorizer override when noAuth is true
  src/events/http/HttpServer.js
Due: eslint, prettier -c

chore(aws-sdk): bump client-lambda version
  package-lock.json
  package.json
Due: prettier -c

Edit LICENSE
  LICENSE
Due: none
