Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

Prevent logging `undefined` for event schedule
  src/events/schedule/Schedule.js
Due: eslint, prettier -c

fix: Prevent logging `undefined` for event schedule (#1520)
  src/events/schedule/Schedule.js
Due: eslint, prettier -c

chore(lint): remove allow no-underscore-dangle exception
  .eslintrc.cjs
Due: none

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

v9.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Update with master.
  tests/integration/lambda-authorizer/lambda-authorizer.test.js
Due: eslint, prettier -c

refactor: move http server setup to separate function
  src/ServerlessOffline.js
  src/events/http/Http.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

refactor: move register plugins to create server
  src/ServerlessOffline.js
  src/events/http/Http.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

refactor: use fs/promises
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: remove unused parameter
  src/events/http/HttpServer.js
Due: eslint, prettier -c

refactor: move create hapi handler into separate function
  src/events/http/HttpServer.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
Due: prettier -c

refactor: nit
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: change protectedRoutes type from array to string
  src/events/http/HttpServer.js
Due: eslint, prettier -c

chore: remove commented code
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

refactor: replace arrow functions
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

refactor: remove corsAllowCredentials from default options
  src/ServerlessOffline.js
  src/config/defaultOptions.js
Due: eslint, prettier -c

v9.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: make @serverless/utils a direct dependency
  package-lock.json
  package.json
Due: prettier -c

v9.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Fix: #1431 event.resource in catch-all route gets + changed to *
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  tests/endToEnd/starRoutesRestApi/src/handler.js
  tests/endToEnd/starRoutesRestApi/src/package.json
  tests/endToEnd/starRoutesRestApi/src/serverless.yml
  tests/endToEnd/starRoutesRestApi/starRoutesRestApi.test.js
  tests/endToEnd/trailingSlash/trailingSlash.test.js
Due: eslint, prettier -c

Support multiple of same query string for LambdaProxyIntegrationEventV2
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/utils/__tests__/parseMultiValueQueryStringParameters.test.js
  src/utils/__tests__/parseQueryStringParametersForPayloadV2.test.js
  src/utils/index.js
  src/utils/parseQueryStringParametersForPayloadV2.js
Due: eslint, prettier -c

fix: child processes run mode
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
Due: eslint, prettier -c

test: add test for child process run mode
  tests/lambda-run-mode/child-processes/instances/in-process-instances.test.js
  tests/lambda-run-mode/child-processes/instances/serverless.yml
  tests/lambda-run-mode/child-processes/instances/src/handler.js
  tests/lambda-run-mode/child-processes/instances/src/package.json
Due: eslint, prettier -c

fix: child processes run mode (#1527)
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  tests/lambda-run-mode/child-processes/instances/in-process-instances.test.js
  tests/lambda-run-mode/child-processes/instances/serverless.yml
  tests/lambda-run-mode/child-processes/instances/src/handler.js
  tests/lambda-run-mode/child-processes/instances/src/package.json
Due: eslint, prettier -c

v9.1.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: tls options (missing await)
  src/events/http/HttpServer.js
Due: eslint, prettier -c

remove commented code and fix typos
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  tests/endToEnd/starRoutes/starRoutes.test.js
Due: eslint, prettier -c

perf: load tls files in parallel
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: read certs with utf-8 encoding
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: tls options (#1529)
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: event.resource in catch-all route gets + changed to * (#1524)
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  tests/endToEnd/starRoutesRestApi/src/handler.js
  tests/endToEnd/starRoutesRestApi/src/package.json
  tests/endToEnd/starRoutesRestApi/src/serverless.yml
  tests/endToEnd/starRoutesRestApi/starRoutesRestApi.test.js
  tests/endToEnd/trailingSlash/trailingSlash.test.js
Due: eslint, prettier -c

chore: remove console.log
  src/events/http/HttpServer.js
Due: eslint, prettier -c

v9.1.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: declare fields, remove from constructor
  src/ServerlessOffline.js
Due: eslint, prettier -c

refactor: declare fields, remove from constructor, part 2
  src/events/schedule/ScheduleEvent.js
Due: eslint, prettier -c

fix: https protocol option default value
  src/config/defaultOptions.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

refactor: https protocol ternary consistency
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocketServer.js
  src/events/websocket/lambda-events/WebSocketConnectEvent.js
  src/lambda/HttpServer.js
Due: eslint, prettier -c

refactor: load certs private method
  src/events/http/HttpServer.js
Due: eslint, prettier -c
