Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

refactor: use conditional spread
  src/events/http/HttpServer.js
Due: eslint, prettier -c

add test for http proxy
  tests/integration/handler/handlerPayload.test.js
  tests/integration/handler/serverless.yml
Due: eslint, prettier -c

add test for http proxy
  tests/integration/handler/serverless.yml
Due: prettier -c

v9.1.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

feat: add UserFunction.js from aws-lambda-ric
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/package.json
Due: eslint, prettier -c

chore: add eslint ignore
  .eslintignore
Due: none

feat: use UserFunction to load handler modules
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

test: fix tests
  src/lambda/__tests__/LambdaFunction.test.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsJSONObject-fixture.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsNativeString-fixture.js
  src/lambda/__tests__/fixtures/lambdaFunction-fixture.js
  src/lambda/__tests__/routes/invocations/InvocationsController.test.js
Due: eslint, prettier -c

test: add commonjs tests
  tests/handler-module-formats/commonjs/cjs-extension/handler.cjs
  tests/handler-module-formats/commonjs/handlerModuleFormats.test.js
  tests/handler-module-formats/commonjs/js-extension/handler.js
  tests/handler-module-formats/commonjs/js-extension/package.json
  tests/handler-module-formats/commonjs/namespace-export/handler.js
  tests/handler-module-formats/commonjs/namespace-export/package.json
  tests/handler-module-formats/commonjs/package-type/handler.js
  tests/handler-module-formats/commonjs/package-type/package.json
  tests/handler-module-formats/commonjs/serverless.yml
Due: eslint, prettier -c

test: add module tests
  tests/handler-module-formats/module/handlerModuleFormats.test.js
  tests/handler-module-formats/module/mjs-extension/handler.mjs
  tests/handler-module-formats/module/namespace-export/handler.js
  tests/handler-module-formats/module/namespace-export/handlers.js
  tests/handler-module-formats/module/namespace-export/package.json
  tests/handler-module-formats/module/package-type/handler.js
  tests/handler-module-formats/module/package-type/package.json
  tests/handler-module-formats/module/serverless.yml
  tests/handler-module-formats/module/top-level-await/foo.js
  tests/handler-module-formats/module/top-level-await/handler.js
  tests/handler-module-formats/module/top-level-await/package.json
Due: eslint, prettier -c

refactor: remove unnecessary handler name, handler path
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

fix: esm import path
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
Due: eslint, prettier -c

feat: use aws-lambda-ric UserFunction.js (#1534)
  .eslintignore
  src/lambda/__tests__/LambdaFunction.test.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsJSONObject-fixture.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsNativeString-fixture.js
  src/lambda/__tests__/fixtures/lambdaFunction-fixture.js
  src/lambda/__tests__/routes/invocations/InvocationsController.test.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/package.json
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
  tests/handler-module-formats/commonjs/cjs-extension/handler.cjs
  tests/handler-module-formats/commonjs/handlerModuleFormats.test.js
  tests/handler-module-formats/commonjs/js-extension/handler.js
  tests/handler-module-formats/commonjs/js-extension/package.json
  tests/handler-module-formats/commonjs/namespace-export/handler.js
  tests/handler-module-formats/commonjs/namespace-export/package.json
  tests/handler-module-formats/commonjs/package-type/handler.js
  tests/handler-module-formats/commonjs/package-type/package.json
  tests/handler-module-formats/commonjs/serverless.yml
  tests/handler-module-formats/module/handlerModuleFormats.test.js
  tests/handler-module-formats/module/mjs-extension/handler.mjs
  tests/handler-module-formats/module/namespace-export/handler.js
  tests/handler-module-formats/module/namespace-export/handlers.js
  tests/handler-module-formats/module/namespace-export/package.json
  tests/handler-module-formats/module/package-type/handler.js
  tests/handler-module-formats/module/package-type/package.json
  tests/handler-module-formats/module/serverless.yml
  tests/handler-module-formats/module/top-level-await/foo.js
  tests/handler-module-formats/module/top-level-await/handler.js
  tests/handler-module-formats/module/top-level-await/package.json
Due: eslint, prettier -c

refactor: move splitHandlerPathAndName call to runners
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

chore: rename file
  tests/lambda-run-mode/child-processes/instances/child-process-instances.test.js
Due: eslint, prettier -c

chore: remove comented options
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

refactor: use named import
  src/lambda/handler-runner/python-runner/PythonRunner.js
Due: eslint, prettier -c

refactor: in-process constructor
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

v9.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: pass function options
  src/lambda/handler-runner/HandlerRunner.js
Due: eslint, prettier -c

Fix require error for url
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
Due: eslint, prettier -c

chore: remove commented code
  tests/handler-module-formats/module/namespace-export/handlers.js
Due: eslint, prettier -c

test: add serverless-express scenario test
  tests/scenario/vendia-serverless-express/app/.npmrc
  tests/scenario/vendia-serverless-express/app/package-lock.json
  tests/scenario/vendia-serverless-express/app/package.json
  tests/scenario/vendia-serverless-express/app/serverless.yml
  tests/scenario/vendia-serverless-express/app/src/app.js
  tests/scenario/vendia-serverless-express/app/src/index.js
  tests/scenario/vendia-serverless-express/vendia-serverless-express.test.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/apollo-server-lambda/app/package-lock.json
  tests/scenario/apollo-server-lambda/app/package.json
  tests/scenario/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-esbuild/app/package.json
  tests/scenario/serverless-http-with-express/app/package-lock.json
  tests/scenario/serverless-http-with-express/app/package.json
  tests/scenario/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-webpack/app/package.json
Due: prettier -c

test: add @vendia/serverless-express binary test
  tests/scenario/vendia-serverless-express/app/src/app.js
  tests/scenario/vendia-serverless-express/app/src/sam-logo.png
  tests/scenario/vendia-serverless-express/vendia-serverless-express.test.js
Due: eslint, prettier -c

chore: skip vendia serverless express image test
  tests/scenario/vendia-serverless-express/app/serverless.yml
  tests/scenario/vendia-serverless-express/vendia-serverless-express.test.js
Due: eslint, prettier -c

refactor: make handler process private
  src/lambda/handler-runner/python-runner/PythonRunner.js
Due: eslint, prettier -c

fix: region + stage startup log
  src/ServerlessOffline.js
Due: eslint, prettier -c

fix: region + stage startup log (#1539)
  src/ServerlessOffline.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

v9.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: published package content
  .npmignore
  package.json
Due: prettier -c

add more comments
  .npmignore
Due: none

Log uncaught exceptions in worker thread handlers
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

fix: published package content (#1542)
  .npmignore
  package.json
Due: prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
Due: prettier -c

v9.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: path.resolve parameter
  src/events/http/Endpoint.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

refactor: remove default parameter
  tests/_testHelpers/compressArtifact.js
Due: eslint, prettier -c
