Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

refactor: use array destructuring
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

refactor: replace aws-sdk lambda client with more lightweight @aws-sdk scoped package
  package-lock.json
  package.json
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

v11.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: prevent overwriting host.docker.internal in wsl
  package-lock.json
  package.json
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

chore: remove wrong test
  tests/endToEnd/trailingSlash/src/handler.js
  tests/endToEnd/trailingSlash/src/package.json
  tests/endToEnd/trailingSlash/src/serverless.yml
  tests/endToEnd/trailingSlash/trailingSlash.test.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
Due: prettier -c

chore: fix test description
  tests/endToEnd/optionParameters/optionParameters.test.js
Due: eslint, prettier -c

fix: remove redundant and faulty condition in hapi path generation
  src/utils/generateHapiPath.js
Due: eslint, prettier -c

fix: path access with trailing slash
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  tests/endToEnd/optionParameters/optionParameters.test.js
  tests/endToEnd/optionParameters/src/serverless.yml
Due: eslint, prettier -c

chore: test formatting nit
  src/utils/__tests__/generateHapiPath.test.js
Due: eslint, prettier -c

fix: path access with trailing slash (#1606)
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  tests/endToEnd/optionParameters/optionParameters.test.js
  tests/endToEnd/optionParameters/src/serverless.yml
Due: eslint, prettier -c

v11.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: prevent overwriting host.docker.internal in wsl (#1605)
  package-lock.json
  package.json
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
Due: prettier -c

refactor: call now from Date namespace
  src/events/http/createJWTAuthScheme.js
  tests/manual/websocket/RouteSelection/test/e2e/ws.e2e.js
  tests/manual/websocket/main/test/e2e/ws.e2e.js
Due: eslint, prettier -c

refactor: use Date.prototype.getTime instead of valueOf
  src/events/http/createJWTAuthScheme.js
Due: eslint, prettier -c

chore: import order nit
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

v11.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: rename lambda invoke aws-sdk v2 tests
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/serverless.yml
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
Due: eslint, prettier -c

chore: fix lambda funcion names for invoke tests
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeHandler.js
Due: eslint, prettier -c

test: install aws-sdk v2 dependency for lambda invoke tests
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/.npmrc
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
Due: eslint, prettier -c

test: refactor to make lambda invoke test deployable to aws
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeHandler.js
Due: eslint, prettier -c

test: add lambda invoke tests with aws-sdk v3
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/serverless.yml
  tests/integration/lambda-invoke-aws-sdk-v3/src/.npmrc
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeHandler.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package.json
Due: eslint, prettier -c

test: cleanup tests
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/src/lambdaInvokeHandler.js
Due: eslint, prettier -c

test: skip test [for now]
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
Due: eslint, prettier -c

chore: add example for lambda invoke with aws-sdk v3 (#1557)
  examples/lambda-invoke-v3/.npmrc
  examples/lambda-invoke-v3/package-lock.json
  examples/lambda-invoke-v3/package.json
  examples/lambda-invoke-v3/serverless.yml
  examples/lambda-invoke-v3/src/handler.js
Due: eslint, prettier -c

chore: add example for lambda invoke with aws-sdk v3
  examples/lambda-invoke-v3/package-lock.json
  examples/lambda-invoke-v3/package.json
  examples/lambda-invoke-v3/src/handler.js
  package-lock.json
  package.json
Due: eslint, prettier -c

chore: consolidate lambda invoke examples
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/.npmrc
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/serverless.yml
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/src/handler.js
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/.npmrc
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/serverless.yml
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/src/handler.js
Due: eslint, prettier -c

chore: fix lambda invoke v2 example
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/src/handler.js
Due: eslint, prettier -c

doc: lambda invoke cleanup
  README.md
Due: prettier -c

doc: fix link
  README.md
Due: prettier -c

doc: fix header
  README.md
Due: prettier -c

test: fix lambda invoke with aws-sdk v3
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeHandler.js
Due: eslint, prettier -c

test: fix aws-sdk invoke test
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeAsyncHandler.js
Due: eslint, prettier -c

test: fix lambda invoke with aws-sdk v3 (#1607)
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeHandler.js
Due: eslint, prettier -c

chore: remove unused eslint rule
  examples/.eslintrc.cjs
Due: none

test: pin dependencies from manual websocket tests
  tests/manual/websocket/RouteSelection/.npmrc
  tests/manual/websocket/RouteSelection/package-lock.json
  tests/manual/websocket/RouteSelection/package.json
  tests/manual/websocket/main/.npmrc
  tests/manual/websocket/main/package-lock.json
  tests/manual/websocket/main/package.json
Due: prettier -c

test: pass URL directly to constructor, remove toString
  tests/integration/websocket-oneway/websocket-oneway.test.js
Due: eslint, prettier -c
