Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
  "*.js": ["eslint"],
  "*.{css,html,js,json,md,yaml,yml}": ["prettier -c"]
}

fix: Support httpApi authorizer with different config and function names (#1763)
  src/events/http/HttpServer.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
Due: eslint, prettier -c

feat: 1789 implementing changes to allow Okta Dev tokens to work in httpApi authorizer
  src/events/http/HttpServer.js
  src/events/http/createJWTAuthScheme.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
  tests/integration/jwt-authorizer/serverless.yml
Due: eslint, prettier -c

feat: 1789 scopes return variable ignored
  src/events/http/createJWTAuthScheme.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
Due: eslint, prettier -c

add @serverless/utils dependency
  package-lock.json
  package.json
Due: prettier -c

fix log import
  src/lambda/RuntimeServer.js
  src/lambda/handler-runner/bootstrap-runner/BootstrapRunner.js
Due: eslint, prettier -c

throw error if layers are set
  src/lambda/handler-runner/bootstrap-runner/BootstrapRunner.js
Due: eslint, prettier -c

fix tests
  src/lambda/handler-runner/bootstrap-runner/BootstrapRunner.js
  tests/lambda-run-mode/provided/bash-scripts/bootstrap
  tests/lambda-run-mode/provided/bash-scripts/handler.sh
  tests/lambda-run-mode/provided/bash-scripts/inProcessProvided.test.js
  tests/lambda-run-mode/provided/bash-scripts/serverless.yml
Due: eslint, prettier -c

fix: add missing code to LambdaProxyIntegrationEvent class
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
Due: eslint, prettier -c

feat: support dev Okta JWT tokens (#1790)
  src/events/http/HttpServer.js
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
  tests/integration/jwt-authorizer/serverless.yml
Due: eslint, prettier -c

search for bootstrap scripts
  src/lambda/handler-runner/bootstrap-runner/BootstrapRunner.js
Due: eslint, prettier -c

use a library to set the port
  package-lock.json
  package.json
  src/lambda/RuntimeServer.js
Due: eslint, prettier -c

switch to bash
  tests/lambda-run-mode/provided/bash-scripts/bootstrap
Due: none

Update HandlerRunner.js
  src/lambda/handler-runner/HandlerRunner.js
Due: eslint, prettier -c

Update Http.js
  src/events/http/Http.js
Due: eslint, prettier -c

Update DockerImage.js
  src/lambda/handler-runner/custom-runner/DockerImage.js
Due: eslint, prettier -c

Update package.json
  package.json
Due: prettier -c

Return error responses with the right status code
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Change default error status code to 500 to match AWS Lambda
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Raise error when Python handler fails
  src/lambda/handler-runner/python-runner/PythonRunner.js
Due: eslint, prettier -c

Add test for Python to return 500 on unhandled error
  tests/runtimes/python/python3/handler.py
  tests/runtimes/python/python3/python3.test.js
  tests/runtimes/python/python3/serverless.yml
Due: eslint, prettier -c

fix: improve wildcard handling in authorizer policy resource parser
  src/events/authMatchPolicyResource.js
  tests/old-unit/authMatchPolicyResource.test.js
Due: eslint, prettier -c

refactor: remove unneeded condition as it's handled by the new parsing logic
  src/events/authMatchPolicyResource.js
  tests/old-unit/authMatchPolicyResource.test.js
Due: eslint, prettier -c

refactor: remove unneeded escape
  src/events/authMatchPolicyResource.js
Due: eslint, prettier -c

refactor: optimize regexp
  src/events/authMatchPolicyResource.js
Due: eslint, prettier -c

fix: ensure resource policy matches the whole arn
  src/events/authMatchPolicyResource.js
  tests/old-unit/authMatchPolicyResource.test.js
Due: eslint, prettier -c

create superclass for all Http Servers
  src/AbstractHttpServer.js
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocket.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
Due: eslint, prettier -c

start/stop servers using super
  src/AbstractHttpServer.js
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  src/lambda/HttpServer.js
Due: eslint, prettier -c

fix: ensure resource policy matches the whole arn (#1798)
  src/events/authMatchPolicyResource.js
  tests/old-unit/authMatchPolicyResource.test.js
Due: eslint, prettier -c

fix: improve wildcard handling in authorizer policy resource parser (#1797)
  src/events/authMatchPolicyResource.js
  tests/old-unit/authMatchPolicyResource.test.js
Due: eslint, prettier -c

chore: prettier fix
  src/events/http/HttpServer.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
Due: eslint, prettier -c

chore: fix prettier error
  src/events/http/HttpServer.js
Due: eslint, prettier -c

use lambda exclusively for hapi server storage
  src/AbstractHttpServer.js
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
Due: eslint, prettier -c

move most stop/start into abstract http server
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  src/lambda/AbstractHttpServer.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
Due: eslint, prettier -c

allow websocket port to be http port
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocket.js
  src/events/websocket/WebSocketServer.js
  tests/integration/websocket-oneway-shared/serverless.yml
  tests/integration/websocket-oneway-shared/src/handler.js
  tests/integration/websocket-oneway-shared/src/package.json
  tests/integration/websocket-oneway-shared/websocket-oneway.test.js
  tests/integration/websocket-twoway-shared/serverless.yml
  tests/integration/websocket-twoway-shared/src/handler.js
  tests/integration/websocket-twoway-shared/src/package.json
  tests/integration/websocket-twoway-shared/websocket-twoway.test.js
Due: eslint, prettier -c

update readme
  README.md
  tests/integration/websocket-oneway-shared/websocket-oneway-shared.test.js
  tests/integration/websocket-twoway-shared/websocket-twoway-shared.test.js
Due: eslint, prettier -c

update README
  README.md
Due: prettier -c

ci: remove node.js v21, add v22
  .github/workflows/nodejs.yml
Due: prettier -c

chore: bump deps (minor, patch)
  package-lock.json
  package.json
Due: prettier -c

ci: remove node.js v21, add v22 (#1801)
  .github/workflows/nodejs.yml
Due: prettier -c

chore: bump deps (minor, patch) (#1802)
  package-lock.json
  package.json
Due: prettier -c
