Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

test: fix override authorizer config
  tests/integration/override-authorizer/serverless.yml
Due: prettier -c

test: fix jwt-authorizer config
  tests/integration/jwt-authorizer/serverless.yml
Due: prettier -c

test: fix jwt-authorizer config (again)
  tests/integration/jwt-authorizer/serverless.yml
Due: prettier -c

test: fix http-api headers config
  tests/integration/httpApi-headers/serverless.yml
Due: prettier -c

test: fix description
  tests/integration/handler/handlerPayload.test.js
Due: eslint, prettier -c

test: fix uncategorized config
  tests/integration/handler/serverless.yml
Due: prettier -c

test: fix config
  tests/integration/uncategorized/serverless.yml
Due: prettier -c

test: remove commented config
  tests/integration/handler/serverless.yml
  tests/integration/lambda-integration/serverless.yml
  tests/integration/uncategorized/serverless.yml
Due: prettier -c

test: bump node.js runtime
  tests/integration/httpApi-cors-default/serverless.yml
  tests/integration/httpApi-cors/serverless.yml
  tests/integration/httpApi-headers/serverless.yml
  tests/integration/jwt-authorizer/serverless.yml
  tests/integration/lambda-integration/serverless.yml
  tests/integration/lambda-invoke/serverless.yml
  tests/integration/override-authorizer/serverless.yml
  tests/integration/websocket-authorizer/serverless.yml
  tests/manual/nodejs/serverless.yml
  tests/manual/websocket/RouteSelection/scripts/serverless..yml
  tests/manual/websocket/main/scripts/serverless..yml
Due: prettier -c

chore: order nit
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
Due: eslint, prettier -c

Fix http payload schemas validation
  src/events/http/HttpServer.js
  tests/integration/handler/handlerPayload.test.js
  tests/integration/handler/serverless.yml
Due: eslint, prettier -c

chore: bump and fix prettier
  examples/tools/serverless-webpack/src/handler.ts
  examples/tools/ts-node/src/handler.ts
  package-lock.json
  package.json
Due: prettier -c

test: fix schema
  tests/integration/handler/serverless.yml
Due: prettier -c

Fix http payload schemas validation (#1474)
  src/events/http/HttpServer.js
  tests/integration/handler/handlerPayload.test.js
Due: eslint, prettier -c

fix: don't require context (#1471) (#1472)
  src/events/websocket/WebSocketClients.js
  tests/integration/websocket-authorizer/src/authorizer.js
  tests/integration/websocket-authorizer/websocket-authorizer.test.js
Due: eslint, prettier -c

fix: serverless-offline v8.6 and later unloads all modules when running on Windows, breaking plugins (#1461) (#1462)
  src/lambda/handler-runner/in-process-runner/clearModule.js
Due: eslint, prettier -c

test: temporary skip websocket authorizer tests
  tests/integration/websocket-authorizer/websocket-authorizer.test.js
Due: eslint, prettier -c

chore: nit
  examples/lambda-invoke/serverless.yml
  src/lambda/LambdaContext.js
Due: eslint, prettier -c

test(integration): add Python with `module` tests
  tests/integration/python/python-module/custom/__init__.py
  tests/integration/python/python-module/custom/handler.py
  tests/integration/python/python-module/python3.test.js
  tests/integration/python/python-module/serverless.yml
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

chore: bump jsonpath-plus (major), deps
  package-lock.json
  package.json
Due: prettier -c

refactor: simplify condition
  tests/_setupTeardown/npmInstall.js
Due: eslint, prettier -c

test: fix module path
  tests/integration/python/python-module/serverless.yml
Due: prettier -c

fix: Increase invocation payload limit to 6 mb
  src/lambda/routes/invocations/invocationsRoute.js
Due: eslint, prettier -c

chore(lint): remove eslint-disable-line
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
Due: eslint, prettier -c

refactor: use Object.entries
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

fix: await promise
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

chore: remove commented code
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

refactor: use async unlink
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

refactor: use async unlink (#1480)
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

refactor: simplify
  src/utils/checkDockerDaemon.js
Due: eslint, prettier -c

chore: bump update-modifier (major)
  package-lock.json
  package.json
Due: prettier -c

fix: aws-sdk import
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

chore: remove unused file
  tests/_setupTeardown/npmInstall.js
Due: eslint, prettier -c

test: fix python docker tests
  tests/integration/docker/python/python3.6/dockerPython3.6.test.js
  tests/integration/docker/python/python3.6/serverless.yml
  tests/integration/docker/python/python3.7/dockerPython3.7.test.js
  tests/integration/docker/python/python3.7/serverless.yml
  tests/integration/docker/python/python3.8/dockerPython3.8.test.js
  tests/integration/docker/python/python3.8/serverless.yml
  tests/mochaGlobalSetup.cjs
Due: eslint, prettier -c

chore: remove commented code
  tests/mochaGlobalSetup.cjs
Due: none

test: use mocha hooks
  package.json
  tests/mochaGlobalSetup.cjs
  tests/mochaHooks.cjs
Due: prettier -c
