Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

chore: bump deps (major)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/events/http/lambda-events/VelocityContext.js
  tests/integration/custom-authentication/src/authenticationProvider.js
  tests/old-unit/velocityContext.test.js
Due: eslint, prettier -c

chore: revert execa bump
  package-lock.json
  package.json
Due: prettier -c

chore: bump deps (major) (#1803)
  .eslintrc.cjs
  package-lock.json
  package.json
  src/events/http/lambda-events/VelocityContext.js
  tests/integration/custom-authentication/src/authenticationProvider.js
  tests/old-unit/velocityContext.test.js
Due: eslint, prettier -c

chore: bump test dependencies
  tests/integration/lambda-invoke-aws-sdk-v2/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package-lock.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package-lock.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

chore: bump test dependencies (#1804)
  tests/integration/lambda-invoke-aws-sdk-v2/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package-lock.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package-lock.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

chore: bump aws runtime interface client
  .eslintignore
  .prettierignore
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/Errors.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/HttpResponseStream.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/VerboseLog.js
Due: eslint, prettier -c

feat: add support for serverless v4 and typescript
  .eslintignore
  package-lock.json
  package.json
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/Errors.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/HttpResponseStream.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/VerboseLog.js
  tests/manual/nodejs/package-lock.json
  tests/manual/nodejs/package.json
  tests/manual/nodejs/serverless.yml
  tests/manual/nodejs/src/handler.js
  tests/manual/nodejs/src/handler_typescript.ts
  tests/manual/python/package-lock.json
  tests/manual/python/package.json
  tests/manual/ruby/package-lock.json
  tests/manual/ruby/package.json
  tests/manual/websocket/RouteSelection/package-lock.json
  tests/manual/websocket/RouteSelection/package.json
  tests/manual/websocket/main/package-lock.json
  tests/manual/websocket/main/package.json
  tests/scenario/docker/docker-in-docker/app/package-lock.json
  tests/scenario/docker/docker-in-docker/app/package.json
  tests/scenario/docker/docker-serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
Due: eslint, prettier -c

ci: fix unit tests with new serverless version
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  tests/_testHelpers/setupTeardown.js
  tests/end-to-end/defaultResponse/src/serverless.yml
  tests/manual/nodejs/serverless.yml
Due: eslint, prettier -c

test: remove tests for deprecated plugins
  tests/benchmark/placeholder
  tests/scenario/serverless-plugins/serverless-esbuild/app/.gitignore
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-esbuild/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-esbuild/serverless-esbuild.test.js
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/.gitignore
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/tsconfig.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/serverless-plugin-typescript.test.js
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-webpack/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-webpack/app/tsconfig.json
  tests/scenario/serverless-plugins/serverless-webpack/app/webpack.config.js
  tests/scenario/serverless-plugins/serverless-webpack/serverless-webpack.test.js
Due: eslint, prettier -c

test: fix serverless path
  tests/events/http/private/generated-api-key/serverless.yml
Due: prettier -c

test: add typescript module test
  tests/handler-module-formats/commonjs/handlerModuleFormats.test.js
  tests/handler-module-formats/commonjs/serverless.yml
  tests/handler-module-formats/commonjs/ts-extension/handler.ts
  tests/handler-module-formats/commonjs/ts-extension/package.json
  tests/handler-module-formats/module/handlerModuleFormats.test.js
Due: eslint, prettier -c

feat: add support for python 3.12
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

chore: remove docker-serverless test
  README.md
  tests/scenario/docker/docker-serverless-webpack/app/package-lock.json
  tests/scenario/docker/docker-serverless-webpack/app/package.json
  tests/scenario/docker/docker-serverless-webpack/app/serverless.yml
  tests/scenario/docker/docker-serverless-webpack/app/src/index.ts
  tests/scenario/docker/docker-serverless-webpack/app/tsconfig.json
  tests/scenario/docker/docker-serverless-webpack/app/webpack.config.js
  tests/scenario/docker/docker-serverless-webpack/docker-serverless-webpack.test.js
Due: eslint, prettier -c

test: restore plugin tests with serverless esbuild disabled
  README.md
  tests/scenario/serverless-plugins/serverless-esbuild/app/.gitignore
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-esbuild/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-esbuild/serverless-esbuild.test.js
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/.gitignore
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/tsconfig.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/serverless-plugin-typescript.test.js
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/serverless.yml
  tests/scenario/serverless-plugins/serverless-webpack/app/src/index.ts
  tests/scenario/serverless-plugins/serverless-webpack/app/tsconfig.json
  tests/scenario/serverless-plugins/serverless-webpack/app/webpack.config.js
  tests/scenario/serverless-plugins/serverless-webpack/serverless-webpack.test.js
Due: eslint, prettier -c

chore: move docker-in-docker folder
  tests/scenario/docker-in-docker/app/.gitignore
  tests/scenario/docker-in-docker/app/Dockerfile
  tests/scenario/docker-in-docker/app/docker-compose.linux.yml
  tests/scenario/docker-in-docker/app/docker-compose.yml
  tests/scenario/docker-in-docker/app/handler.js
  tests/scenario/docker-in-docker/app/handler.sh
  tests/scenario/docker-in-docker/app/install_docker.sh
  tests/scenario/docker-in-docker/app/package-lock.json
  tests/scenario/docker-in-docker/app/package.json
  tests/scenario/docker-in-docker/app/serverless.yml
  tests/scenario/docker-in-docker/docker-in-docker.test.js
  tests/scenario/docker/docker-in-docker/app/.serverless-offline/layers/21f354bb3255cd3a7faa5927635d2b493b52623f953b137174594174749e0644/bootstrap
Due: eslint, prettier -c

ci: fix tests on windows
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: add timeout for jobs
  .github/workflows/nodejs.yml
Due: prettier -c

ci: fix teardown
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

fix: use wpathToFileURL to fix windows imports
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
Due: eslint, prettier -c

test: move teardown to afterEach function
  tests/events/http/private/generated-api-key/generated-api-key.test.js
Due: eslint, prettier -c

test: fill empty test descriptions
  tests/events/http/private/generated-api-key/generated-api-key.test.js
  tests/integration/authorizer/authorizer.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v2/lambdaInvokeAsync.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvoke.test.js
  tests/integration/lambda-invoke-aws-sdk-v3/lambdaInvokeAsync.test.js
Due: eslint, prettier -c

v14.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: fix prettier
  CHANGELOG.md
Due: prettier -c

feat: add python 3.12 to supportedRuntimesArchitecture
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

test: increase timeout for @sparticuz/chrome-aws-lambda http api tests
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http-api.test.js
Due: eslint, prettier -c

ci: use macos-latest
  .github/workflows/nodejs.yml
Due: prettier -c

test: remove sparticuz chrome api test
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http-api.test.js
Due: eslint, prettier -c

ci: skip @sparticuz/chrome-aws-lambda http
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http.test.js
Due: eslint, prettier -c

ci: use macos-latest (#1787)
  .github/workflows/nodejs.yml
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http-api.test.js
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http.test.js
Due: eslint, prettier -c

Lint
  src/events/http/createAuthScheme.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/VerboseLog.js
Due: eslint, prettier -c

Edit LICENSE
  LICENSE
Due: none

Update deps
  package-lock.json
  package.json
Due: prettier -c

Run npm audit fix
  package-lock.json
Due: prettier -c

Edit contributors list on README
  README.md
Due: prettier -c

Publish version 14.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Fix
  package-lock.json
  package.json
  src/lambda/routes/invocations/invocationsRoute.js
Due: eslint, prettier -c

Publish v14.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Add README document
  README.md
Due: prettier -c

Fix logRoutes
  src/sponsor.js
  src/utils/logRoutes.js
Due: eslint, prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
