Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

refactor: move init code to mocha hooks
  tests/mochaGlobalSetup.cjs
  tests/mochaHooks.cjs
Due: none

fix: add timeout
  tests/mochaHooks.cjs
Due: none

test: fix python docker tests (#1481)
  tests/integration/docker/python/python3.6/dockerPython3.6.test.js
  tests/integration/docker/python/python3.6/serverless.yml
  tests/integration/docker/python/python3.7/dockerPython3.7.test.js
  tests/integration/docker/python/python3.7/serverless.yml
  tests/integration/docker/python/python3.8/dockerPython3.8.test.js
  tests/integration/docker/python/python3.8/serverless.yml
  tests/mochaHooks.cjs
Due: eslint, prettier -c

test: fix ruby docker tests
  tests/integration/docker/ruby/ruby2.7/dockerRuby2.7.test.js
  tests/integration/docker/ruby/ruby2.7/serverless.yml
Due: eslint, prettier -c

chore: bump deps
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/apollo-server-lambda/package-lock.json
  tests/scenario/apollo-server-lambda/package.json
  tests/scenario/docker-serverless-webpack-test/package-lock.json
  tests/scenario/docker-serverless-webpack-test/package.json
  tests/scenario/serverless-plugin-typescript-test/package-lock.json
  tests/scenario/serverless-plugin-typescript-test/package.json
  tests/scenario/serverless-webpack-test/package-lock.json
  tests/scenario/serverless-webpack-test/package.json
Due: prettier -c

test: fix docker provided tests
  tests/integration/docker/provided/dockerProvided.test.js
Due: eslint, prettier -c

test: fix docker provided tests (#1483)
  tests/integration/docker/provided/dockerProvided.test.js
Due: eslint, prettier -c

test: fix docker go tests
  tests/integration/docker/go/go1.x/dockerGo1.x.test.js
  tests/integration/docker/go/go1.x/serverless.yml
Due: eslint, prettier -c

test: fix docker node.js tests
  tests/integration/docker/nodejs/nodejs10.x/dockerNodejs10.x.test.js
  tests/integration/docker/nodejs/nodejs10.x/handler.js
  tests/integration/docker/nodejs/nodejs10.x/serverless.yml
  tests/integration/docker/nodejs/nodejs12.x/dockerNodejs12.x.test.js
  tests/integration/docker/nodejs/nodejs12.x/serverless.yml
  tests/integration/docker/nodejs/nodejs8.10/dockerNodejs8.10.test.js
  tests/integration/docker/nodejs/nodejs8.10/handler.js
  tests/integration/docker/nodejs/nodejs8.10/serverless.yml
Due: eslint, prettier -c

test: fix docker multiple tests
  tests/integration/docker/multiple/dockerMultiple.test.js
  tests/integration/docker/multiple/handler.js
  tests/integration/docker/multiple/serverless.yml
Due: eslint, prettier -c

test: fix docker node.js tests (#1485)
  tests/integration/docker/nodejs/nodejs10.x/dockerNodejs10.x.test.js
  tests/integration/docker/nodejs/nodejs10.x/handler.js
  tests/integration/docker/nodejs/nodejs10.x/serverless.yml
  tests/integration/docker/nodejs/nodejs12.x/dockerNodejs12.x.test.js
  tests/integration/docker/nodejs/nodejs12.x/serverless.yml
  tests/integration/docker/nodejs/nodejs8.10/dockerNodejs8.10.test.js
  tests/integration/docker/nodejs/nodejs8.10/handler.js
  tests/integration/docker/nodejs/nodejs8.10/serverless.yml
Due: eslint, prettier -c

test: fix docker multiple tests (#1486)
  tests/integration/docker/multiple/dockerMultiple.test.js
  tests/integration/docker/multiple/handler.js
  tests/integration/docker/multiple/serverless.yml
Due: eslint, prettier -c

test: fix docker artifact tests
  tests/integration/docker/artifact/artifact.test.js
Due: eslint, prettier -c

test: fix docker artifact tests (#1487)
  tests/integration/docker/artifact/artifact.test.js
Due: eslint, prettier -c

test: fix docker layers tests
  tests/integration/docker/layers/dockerLayers.test.js
Due: eslint, prettier -c

test: fix docker access host tests
  tests/integration/docker/access-host/accessHost.test.js
Due: eslint, prettier -c

test: fix name
  tests/integration/docker/access-host/serverless.yml
Due: prettier -c

test: use object shorthand
  tests/integration/docker/access-host/accessHost.test.js
Due: eslint, prettier -c

test: fix promise
  tests/integration/docker/access-host/accessHost.test.js
Due: eslint, prettier -c

test: fix install node modules
  tests/integration/docker/access-host/accessHost.test.js
Due: eslint, prettier -c

test: bump node fetch
  tests/integration/docker/access-host/src/package-lock.json
  tests/integration/docker/access-host/src/package.json
Due: prettier -c

fix: increase timeout
  tests/mochaHooks.cjs
Due: none

test: fix docker access host tests (#1489)
  tests/integration/docker/access-host/accessHost.test.js
  tests/integration/docker/access-host/serverless.yml
  tests/integration/docker/access-host/src/package-lock.json
  tests/integration/docker/access-host/src/package.json
  tests/mochaHooks.cjs
Due: eslint, prettier -c

test: fix docker serverless webpack tests
  tests/scenario/docker-serverless-webpack.test.js
Due: eslint, prettier -c

test: fix docker serverless webpack tests (#1490)
  tests/scenario/docker-serverless-webpack.test.js
Due: eslint, prettier -c

chore(lint): fix config env for mocha
  .eslintrc.cjs
Due: none

test: fix ruby tests
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/integration/ruby/ruby.test.js
Due: eslint, prettier -c

fix: remove .only
  tests/integration/ruby/ruby.test.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

test: fix ruby tests (#1492)
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/integration/ruby/ruby.test.js
Due: eslint, prettier -c

test: fix go tests
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/integration/go/go1.x/go1.x.test.js
  tests/integration/go/go1.x/serverless.yml
Due: eslint, prettier -c

chore: remove commented code
  tests/integration/go/go1.x/go1.x.test.js
Due: eslint, prettier -c

test: fix go tests (#1493)
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/integration/go/go1.x/go1.x.test.js
  tests/integration/go/go1.x/serverless.yml
Due: eslint, prettier -c

chore: order nit
  tests/scenario/docker-in-docker/docker-compose.yml
  tests/scenario/docker-in-docker/package.json
Due: prettier -c

test: fix java tests
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/integration/java/java.test.js
Due: eslint, prettier -c

test: add java version
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
Due: prettier -c

test: fix kotlin tests
  tests/integration/kotlin/kotlin.test.js
Due: eslint, prettier -c

test: fix groovy tests
  tests/integration/groovy/groovy.test.js
Due: eslint, prettier -c

test: fix scala tests
  tests/integration/scala/scala.test.js
Due: eslint, prettier -c
