Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

refactor: re-activate unicorn/prefer-number-properties
  .eslintrc.cjs
  tests/integration/alb-handler/src/handler.js
  tests/integration/handler/src/handler.js
Due: eslint, prettier -c

chore: use commitlint.config esm
  commitlint.config.js
Due: eslint, prettier -c

refactor: re-activate unicorn/prefer-ternary
  .eslintrc.cjs
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

refactor: bup eslint-plugin-unicorn, fix linting
  package-lock.json
  package.json
  src/ServerlessOffline.js
  src/events/authMatchPolicyResource.js
  src/events/http/Endpoint.js
  src/events/http/javaHelpers.js
  src/events/http/lambda-events/VelocityContext.js
  src/events/schedule/ScheduleEvent.js
  src/utils/generateHapiPath.js
Due: eslint, prettier -c

chore: re-activate unicorn/no-abusive-eslint-disable
  .eslintignore
  .eslintrc.cjs
Due: none

refactor: re-activate unicorn/no-useless-promise-resolve-reject
  .eslintrc.cjs
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

chore: remove alb experimental warning
  src/events/alb/Alb.js
Due: eslint, prettier -c

v13.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: bump deps for example
  examples/events/alb/.npmrc
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/.npmrc
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/.npmrc
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/.npmrc
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/.npmrc
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/.npmrc
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/.npmrc
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/.npmrc
  examples/tools/serverless-plugin-typescript/package-lock.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/.npmrc
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/.npmrc
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
Due: prettier -c

chore: remove default prettier setting
  prettier.config.js
Due: eslint, prettier -c

Update README.md
  README.md
Due: prettier -c

doc: Fix customAuthenticationProvider documentation (#1683)
  README.md
Due: prettier -c

doc: fix prettier
  README.md
Due: prettier -c

chore: add prettier:fix script
  package.json
Due: prettier -c

feat: Adding handling for multiple identitySource headers in the REST API. (#1675)
  src/events/http/createAuthScheme.js
  tests/integration/restApi-authorizers/restApi-authorizers.test.js
  tests/integration/restApi-authorizers/serverless.yml
  tests/integration/restApi-authorizers/src/handler.js
  tests/integration/restApi-authorizers/src/package.json
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

v13.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: Support alb with no method conditions (#1653)
  src/events/alb/HttpServer.js
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
Due: eslint, prettier -c

v13.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Match prettify style
  src/events/alb/HttpServer.js
Due: eslint, prettier -c

fix: LambdaProxyIntegrationEventV2 authorizer context (#1630)
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  tests/integration/custom-authentication/authenticationCustomVariable.test.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package-lock.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

v13.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

feat: :sparkles: add golang workspace support
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

feat: :memo: add golang lambda example
  examples/golang-lambda/functions/ping.go
  examples/golang-lambda/go.mod
  examples/golang-lambda/go.sum
  examples/golang-lambda/package-lock.json
  examples/golang-lambda/package.json
  examples/golang-lambda/serverless.yml
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

feat: :memo: add golang workspace example
  examples/golang-workspace-lambda/api/ping/go.mod
  examples/golang-workspace-lambda/api/ping/go.sum
  examples/golang-workspace-lambda/api/ping/main.go
  examples/golang-workspace-lambda/go.work
  examples/golang-workspace-lambda/go.work.sum
  examples/golang-workspace-lambda/package-lock.json
  examples/golang-workspace-lambda/package.json
  examples/golang-workspace-lambda/serverless.yml
Due: prettier -c

feat: Add support for golang workspace (#1738)
  examples/golang-lambda/functions/ping.go
  examples/golang-lambda/go.mod
  examples/golang-lambda/go.sum
  examples/golang-lambda/package-lock.json
  examples/golang-lambda/package.json
  examples/golang-lambda/serverless.yml
  examples/golang-workspace-lambda/api/ping/go.mod
  examples/golang-workspace-lambda/api/ping/go.sum
  examples/golang-workspace-lambda/api/ping/main.go
  examples/golang-workspace-lambda/go.work
  examples/golang-workspace-lambda/go.work.sum
  examples/golang-workspace-lambda/package-lock.json
  examples/golang-workspace-lambda/package.json
  examples/golang-workspace-lambda/serverless.yml
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

refactor: remove setTimeout promisify wrapper, use built-in
  src/lambda/LambdaFunction.js
  tests/lambda-run-mode/in-process/instances/in-process-instances.test.js
  tests/lambda-run-mode/in-process/instances/src/handler.js
  tests/lambda-run-mode/worker-threads/instances/src/handler.js
  tests/lambda-run-mode/worker-threads/timeout/src/handler.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/golang-lambda/package-lock.json
  examples/golang-lambda/package.json
  examples/golang-workspace-lambda/package-lock.json
  examples/golang-workspace-lambda/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  package-lock.json
  package.json
Due: prettier -c

v13.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: use nullish coalescing
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package-lock.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package-lock.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

ci: add support for node.js v21
  .github/workflows/nodejs.yml
Due: prettier -c

chore: use prettier end-of-line default
  prettier.config.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package-lock.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
Due: prettier -c

chore: skip test
  tests/old-unit/offline.test.js
Due: eslint, prettier -c

chore: bump actions/setup-node v4
  .github/workflows/nodejs.yml
Due: prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
