Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

chore: bump deps from examples
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/esm/package-lock.json
  examples/tools/esm/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
Due: prettier -c

chore: bump deps from tests
  tests/scenario/apollo-server-lambda/package-lock.json
  tests/scenario/apollo-server-lambda/package.json
  tests/scenario/docker-serverless-webpack-test/package-lock.json
  tests/scenario/serverless-http-with-express/package-lock.json
  tests/scenario/serverless-plugin-typescript-test/package-lock.json
  tests/scenario/serverless-webpack-test/package-lock.json
Due: prettier -c

fix: remove allow cache option
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/in-process-runner/clearModule.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
  tests/lambda-run-mode/in-process/env-vars/serverless.yml
  tests/lambda-run-mode/in-process/instances/serverless.yml
  tests/lambda-run-mode/worker-threads/env-vars/serverless.yml
  tests/lambda-run-mode/worker-threads/instances/serverless.yml
Due: eslint, prettier -c

test: fix serverless.yml
  tests/lambda-run-mode/in-process/env-vars/serverless.yml
  tests/lambda-run-mode/worker-threads/env-vars/serverless.yml
  tests/lambda-run-mode/worker-threads/instances/serverless.yml
Due: prettier -c

feat: add reload handler flag
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/LambdaFunctionPool.js
  tests/lambda-run-mode/worker-threads/reload-handler/reload-handler.test.js
  tests/lambda-run-mode/worker-threads/reload-handler/serverless.yml
  tests/lambda-run-mode/worker-threads/reload-handler/src/handler.js
  tests/lambda-run-mode/worker-threads/reload-handler/src/package.json
Due: eslint, prettier -c

chore: rename vars, remove underscore
  src/lambda/HttpServer.js
Due: eslint, prettier -c

chore: rename more vars, remove underscore
  src/lambda/LambdaFunction.js
Due: eslint, prettier -c

chore: rename even more vars, remove underscore
  src/lambda/routes/invocations/invocationsRoute.js
Due: eslint, prettier -c

test: remove .only
  tests/lambda-run-mode/worker-threads/reload-handler/reload-handler.test.js
Due: eslint, prettier -c

refactor: export internals
  src/ServerlessOffline.js
  tests/manual/websocket/main/test/e2e/ws.e2e.js
  tests/old-unit/support/OfflineBuilder.js
Due: eslint, prettier -c

chore: overwrite no-underscore-dangle eslint rule
  .eslintrc.cjs
Due: none

refactor: make method private
  src/ServerlessOffline.js
Due: eslint, prettier -c

test: re-write worker thread reload handler test
  tests/lambda-run-mode/worker-threads/reload-handler/reload-handler.test.js
Due: eslint, prettier -c

test: re-write worker thread test
  tests/lambda-run-mode/worker-threads/instances/worker-threads-instances.test.js
  tests/lambda-run-mode/worker-threads/reload-handler/reload-handler.test.js
Due: eslint, prettier -c

doc: add v8.8.1 changelog
  CHANGELOG.md
Due: prettier -c

v9.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Setting the right status code based on the lambda response
  src/events/alb/HttpServer.js
Due: eslint, prettier -c

Fix
  tests/integration/handler-esm/serverless.yml
  tests/integration/handler-extensions/serverless.yml
  tests/integration/handler/serverless.yml
Due: prettier -c

fix: Cleanly exit node process
  src/events/http/HttpServer.js
Due: eslint, prettier -c

test: add esbuild scenario test
  tests/scenario/serverless-esbuild-test/.gitignore
  tests/scenario/serverless-esbuild-test/.npmrc
  tests/scenario/serverless-esbuild-test/package-lock.json
  tests/scenario/serverless-esbuild-test/package.json
  tests/scenario/serverless-esbuild-test/serverless.yml
  tests/scenario/serverless-esbuild-test/src/index.ts
  tests/scenario/serverless-esbuild.test.js
Due: eslint, prettier -c

test: remove duplicate npm install
  tests/scenario/serverless-plugin-typescript.test.js
Due: eslint, prettier -c

test: remove more duplicate npm install
  tests/scenario/serverless-esbuild.test.js
Due: eslint, prettier -c

test: fix folder names
  tests/scenario/docker-serverless-webpack.test.js
  tests/scenario/docker-serverless-webpack/.npmrc
  tests/scenario/docker-serverless-webpack/package-lock.json
  tests/scenario/docker-serverless-webpack/package.json
  tests/scenario/docker-serverless-webpack/serverless.yml
  tests/scenario/docker-serverless-webpack/src/index.ts
  tests/scenario/docker-serverless-webpack/tsconfig.json
  tests/scenario/docker-serverless-webpack/webpack.config.js
  tests/scenario/serverless-esbuild/.gitignore
  tests/scenario/serverless-esbuild/.npmrc
  tests/scenario/serverless-esbuild/package-lock.json
  tests/scenario/serverless-esbuild/package.json
  tests/scenario/serverless-esbuild/serverless.yml
  tests/scenario/serverless-esbuild/src/index.ts
  tests/scenario/serverless-plugin-typescript.test.js
  tests/scenario/serverless-plugin-typescript/.gitignore
  tests/scenario/serverless-plugin-typescript/.npmrc
  tests/scenario/serverless-plugin-typescript/package-lock.json
  tests/scenario/serverless-plugin-typescript/package.json
  tests/scenario/serverless-plugin-typescript/serverless.yml
  tests/scenario/serverless-plugin-typescript/src/index.ts
  tests/scenario/serverless-plugin-typescript/tsconfig.json
  tests/scenario/serverless-webpack.test.js
  tests/scenario/serverless-webpack/.npmrc
  tests/scenario/serverless-webpack/package-lock.json
  tests/scenario/serverless-webpack/package.json
  tests/scenario/serverless-webpack/serverless.yml
  tests/scenario/serverless-webpack/src/index.ts
  tests/scenario/serverless-webpack/tsconfig.json
  tests/scenario/serverless-webpack/webpack.config.js
Due: eslint, prettier -c

fix: Cleanly exit node process (#1508)
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Add golang simple http endpoint from serverless/examples
  tests/scenario/aws-golang-simple-http-endpoint/.gitignore
  tests/scenario/aws-golang-simple-http-endpoint/Gopkg.toml
  tests/scenario/aws-golang-simple-http-endpoint/Makefile
  tests/scenario/aws-golang-simple-http-endpoint/README.md
  tests/scenario/aws-golang-simple-http-endpoint/go.mod
  tests/scenario/aws-golang-simple-http-endpoint/go.sum
  tests/scenario/aws-golang-simple-http-endpoint/hello/main.go
  tests/scenario/aws-golang-simple-http-endpoint/package.json
  tests/scenario/aws-golang-simple-http-endpoint/serverless.yml
  tests/scenario/aws-golang-simple-http-endpoint/world/main.go
Due: prettier -c

Update deps of golang http example
  tests/scenario/aws-golang-simple-http-endpoint/go.mod
  tests/scenario/aws-golang-simple-http-endpoint/go.sum
Due: none

Migrate serverless.yml in golang example to use offline go runner
  tests/scenario/aws-golang-simple-http-endpoint/serverless.yml
Due: prettier -c

Update handler function signature in golang scenario handlers
  tests/scenario/aws-golang-simple-http-endpoint/hello/main.go
  tests/scenario/aws-golang-simple-http-endpoint/world/main.go
Due: none

Create package lock for golang scenario
  tests/scenario/aws-golang-simple-http-endpoint/package-lock.json
Due: prettier -c

Create aws-golang-simple-http-endpoint jest
  tests/scenario/aws-golang-simple-http-endpoint.test.js
Due: eslint, prettier -c

Call /hello and /world in golang scenario 3 times
  tests/scenario/aws-golang-simple-http-endpoint.test.js
Due: eslint, prettier -c

Loop inside it() so beforeEach doesn't run between /hello & /world calls
  tests/scenario/aws-golang-simple-http-endpoint.test.js
Due: eslint, prettier -c

test: fix serverless-esbuild test naming
  tests/scenario/serverless-esbuild/package-lock.json
  tests/scenario/serverless-esbuild/package.json
  tests/scenario/serverless-esbuild/serverless.yml
Due: prettier -c

fix: remove replay
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Fix golang runner failing on `go mod tidy` (#1505)
  src/lambda/handler-runner/go-runner/GoRunner.js
  tests/scenario/aws-golang-simple-http-endpoint.test.js
  tests/scenario/aws-golang-simple-http-endpoint/.gitignore
  tests/scenario/aws-golang-simple-http-endpoint/Gopkg.toml
  tests/scenario/aws-golang-simple-http-endpoint/Makefile
  tests/scenario/aws-golang-simple-http-endpoint/README.md
  tests/scenario/aws-golang-simple-http-endpoint/go.mod
  tests/scenario/aws-golang-simple-http-endpoint/go.sum
  tests/scenario/aws-golang-simple-http-endpoint/hello/main.go
  tests/scenario/aws-golang-simple-http-endpoint/package-lock.json
  tests/scenario/aws-golang-simple-http-endpoint/package.json
  tests/scenario/aws-golang-simple-http-endpoint/serverless.yml
  tests/scenario/aws-golang-simple-http-endpoint/world/main.go
Due: eslint, prettier -c

chore: fix prettier
  tests/scenario/aws-golang-simple-http-endpoint/serverless.yml
Due: prettier -c

chore: add configValidationMode, order nit
  tests/scenario/aws-golang-simple-http-endpoint/serverless.yml
Due: prettier -c
