Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

Add sponsor message
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/lambda/HttpServer.js
  src/sponsor.js
  src/utils/logSponsor.js
Due: eslint, prettier -c

Edit sponsor message
  src/utils/logSponsor.js
Due: eslint, prettier -c

Complete sponsoring function
  src/ServerlessOffline.js
  src/utils/logSponsor.js
Due: eslint, prettier -c

Update deps and edit README
  README.md
  package-lock.json
  package.json
Due: prettier -c

Add pathParameters and queryStringParameters to payload version 2.0
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

Python handle base64 encoded binary response from aws lambda function
  src/lambda/handler-runner/python-runner/invoke.py
Due: none

Lint
  src/events/http/createAuthScheme.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/VerboseLog.js
Due: eslint, prettier -c

Edit LICENSE
  LICENSE
Due: none

Edit contributors list on README
  README.md
Due: prettier -c

Fix logRoutes
  src/sponsor.js
  src/utils/logRoutes.js
Due: eslint, prettier -c

Run npm audit and update README
  README.md
  package-lock.json
  package.json
Due: prettier -c

Publish v13.7.0
  package.json
Due: prettier -c

Revert audit fix
  package-lock.json
  package.json
Due: prettier -c

Remove VerboseLog
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/VerboseLog.js
Due: eslint, prettier -c

Edit CI
  .github/workflows/nodejs.yml
Due: prettier -c

Publish v14.2.0
  package.json
Due: prettier -c

Edit CHANGELOG
  CHANGELOG.md
  package-lock.json
Due: prettier -c

Improve README
  README.md
Due: prettier -c

Improve CHANGELOG
  CHANGELOG.md
Due: prettier -c

Edit README
  README.md
Due: prettier -c

handle result structure without body
  src/lambda/handler-runner/python-runner/invoke.py
Due: none

update to use hasattr
  src/lambda/handler-runner/python-runner/invoke.py
Due: none

Publish v14.3.0
  CHANGELOG.md
  package.json
Due: prettier -c

Lint
  src/config/commandOptions.js
  src/config/defaultOptions.js
Due: eslint, prettier -c

Edit CHANGELOG
  CHANGELOG.md
Due: prettier -c

Merge pull request #1796 from paneidos/raise-500-on-python-error
  src/events/http/HttpServer.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  tests/runtimes/python/python3/handler.py
  tests/runtimes/python/python3/python3.test.js
  tests/runtimes/python/python3/serverless.yml
Due: eslint, prettier -c

Merge pull request #1777 from astron8t-voyagerx/preload-module-option
  README.md
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/config/defaultOptions.js
Due: eslint, prettier -c

Edit README
  README.md
  images/arccode.png
Due: prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
