Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

Fix another integration test
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

Fix luxon vulnerability
  package-lock.json
Due: prettier -c

Fix error: cannot find module 'node:url'
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
Due: eslint, prettier -c

fix: Support optional alb method conditions
  src/events/alb/HttpServer.js
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/alb-handler/serverless.yml
  tests/integration/alb-handler/src/handler.js
Due: eslint, prettier -c

fix: aws LambdaProxyIntegrationEventV2 authorizer context
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

fix: custom authentication unit test assertion
  tests/integration/custom-authentication/authenticationCustomVariable.test.js
Due: eslint, prettier -c

fix: auth context & auth authorizer mismatch
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

Update tests
  tests/old-unit/LambdaProxyIntegrationEvent.test.js
  tests/old-unit/offline.test.js
Due: eslint, prettier -c

Fix linting issues
  src/events/http/HttpServer.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  tests/old-unit/LambdaProxyIntegrationEvent.test.js
  tests/old-unit/offline.test.js
Due: eslint, prettier -c

Allow string values in provider.apiGateway.apiKeys
  src/utils/__tests__/getApiKeysValues.test.js
  src/utils/getApiKeysValues.js
Due: eslint, prettier -c

Add pathParameters and queryStringParameters to payload version 2.0
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

Adding handling for multiple identitySource headers in the REST API.
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

Adding integration tests for single or multi identitySource header parsing.
  tests/integration/restApi-authorizers/restApi-authorizers.test.js
  tests/integration/restApi-authorizers/serverless.yml
  tests/integration/restApi-authorizers/src/handler.js
  tests/integration/restApi-authorizers/src/package.json
Due: eslint, prettier -c

Python handle base64 encoded binary response from aws lambda function
  src/lambda/handler-runner/python-runner/invoke.py
Due: none

doc: Fix customAuthenticationProvider documentation
  README.md
Due: prettier -c

fix(layers): retrieve layer using ARN
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

feat: add support for runtime python3.10
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

fix: handle projects using Go module vendoring
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

feat: support Go on provided.al2 runtime
  src/lambda/handler-runner/HandlerRunner.js
  tests/runtimes/go/.gitignore
  tests/runtimes/go/provided.al2/.gitignore
  tests/runtimes/go/provided.al2/go.mod
  tests/runtimes/go/provided.al2/go.sum
  tests/runtimes/go/provided.al2/hello/main.go
  tests/runtimes/go/provided.al2/provided.al2.test.js
  tests/runtimes/go/provided.al2/serverless.yml
Due: eslint, prettier -c

fixed CORS issues for local lambda invoke via aws sdk (#1)
  src/events/http/HttpServer.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
  src/utils/attachHttpHooks.js
  src/utils/index.js
Due: eslint, prettier -c

Go replace
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

Upgrade aws-sdk/client-lambda
  package-lock.json
  package.json
Due: prettier -c

feat: add support for java17 runtime
  package-lock.json
  package.json
  src/config/supportedRuntimes.js
  tests/runtimes/java/java/serverless.yml
Due: eslint, prettier -c

Update README.md
  README.md
Due: prettier -c

fix(InvocationsControllor): typo in error message
  src/lambda/routes/invocations/InvocationsController.js
Due: eslint, prettier -c

bump apollo deps
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
Due: prettier -c

add empty identity sources for request authorisers
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

feat: add Python 3.10 and 3.11 runtime support
  .eslintrc.cjs
  package-lock.json
  package.json
  src/config/supportedRuntimes.js
  tests/runtimes/python/python3/serverless.yml
Due: eslint, prettier -c

Add support for python3.10 and 3.11
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

Added options for serverless offline to work with mTLS.
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Make provided information format match what AWS gives us in events
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
Due: eslint, prettier -c

Ensure lambda integration events still work without a ca.pem file
  src/events/http/HttpServer.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
Due: eslint, prettier -c

Jeremiah-Parrack | add ruby 3.2 support
  .github/workflows/nodejs.yml
  src/config/.supportedRuntimes.js.swp
  src/config/supportedRuntimes.js
  tests/integration/docker/ruby/ruby2.7/dockerRuby2.7.test.js
  tests/integration/docker/ruby/ruby2.7/serverless.yml
  tests/manual/ruby/serverless.yml
  tests/runtimes/ruby/serverless.yml
Due: eslint, prettier -c

Jeremiah-Parrack | rm swp file
  src/config/.supportedRuntimes.js.swp
Due: none

Jeremiah-Parrack | ruby3.2 img is not present in lambci/lambda
  tests/integration/docker/ruby/ruby2.7/dockerRuby2.7.test.js
  tests/integration/docker/ruby/ruby2.7/serverless.yml
Due: eslint, prettier -c

Jeremiah-Parrack | add ruby3.2 to unsupportedDockerRuntimes
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

Jeremiah-Parrack | lint fix
  src/lambda/handler-runner/docker-runner/.DockerContainer.js.swp
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

Jeremiah-Parrack | remove pulling from new docker source
  src/lambda/handler-runner/docker-runner/.DockerContainer.js.swp
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

Jeremiah-Parrack |
  .github/workflows/nodejs.yml
Due: prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
