Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

chore: bump deps
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
Due: prettier -c

refactor: examples
  examples/events/http/handler.js
  examples/events/httpApi/handler.js
  examples/lambda-invoke/handler.js
  examples/tools/babel-register/src/handler.js
  examples/tools/nodemon/src/handler.js
  examples/tools/serverless-plugin-typescript/src/index.ts
  examples/tools/serverless-webpack/src/handler.ts
  examples/tools/ts-node/src/handler.ts
Due: eslint, prettier -c

refactor: examples to use es6 imports
  examples/events/http/handler.js
  examples/events/http/package.json
  examples/events/httpApi/handler.js
  examples/events/httpApi/package.json
  examples/events/schedule/handler.js
  examples/events/schedule/package.json
  examples/events/websocket/handler.js
  examples/events/websocket/package.json
  examples/events/websocket/serverless.yml
  examples/lambda-invoke/handler.js
  examples/lambda-invoke/package.json
  examples/tools/nodemon/package.json
  examples/tools/nodemon/src/handler.js
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-plugin-typescript/tsconfig.json
Due: eslint, prettier -c

refactor: move examples handlers to src directory
  examples/events/http/package.json
  examples/events/http/src/handler.js
  examples/events/httpApi/package.json
  examples/events/httpApi/src/handler.js
  examples/events/schedule/package.json
  examples/events/schedule/src/handler.js
  examples/events/websocket/package.json
  examples/events/websocket/src/handler.js
  examples/lambda-invoke/package.json
  examples/lambda-invoke/src/handler.js
Due: eslint, prettier -c

test: fix handler path
  examples/events/http/serverless.yml
  examples/events/httpApi/serverless.yml
  examples/events/schedule/serverless.yml
  examples/events/websocket/serverless.yml
  examples/lambda-invoke/serverless.yml
Due: prettier -c

test: refactor handlers to use es6 modules
  tests/.eslintrc.cjs
  tests/endToEnd/environmentVariables/src/handler.js
  tests/endToEnd/environmentVariables/src/package.json
  tests/endToEnd/optionParameters/src/handler.js
  tests/endToEnd/optionParameters/src/package.json
  tests/endToEnd/starRoutes/src/handler.js
  tests/endToEnd/starRoutes/src/package.json
  tests/endToEnd/starRoutesRestApi/src/handler.js
  tests/endToEnd/starRoutesRestApi/src/package.json
  tests/endToEnd/starRoutesWithProperties/src/handler.js
  tests/endToEnd/starRoutesWithProperties/src/package.json
  tests/endToEnd/trailingSlash/src/handler.js
  tests/endToEnd/trailingSlash/src/package.json
  tests/lambda-run-mode/child-processes/instances/src/handler.js
  tests/lambda-run-mode/child-processes/instances/src/package.json
  tests/lambda-run-mode/in-process/env-vars/src/handler.js
  tests/lambda-run-mode/in-process/env-vars/src/package.json
  tests/lambda-run-mode/in-process/instances/src/handler.js
  tests/lambda-run-mode/in-process/instances/src/package.json
  tests/lambda-run-mode/worker-threads/env-vars/src/handler.js
  tests/lambda-run-mode/worker-threads/env-vars/src/package.json
  tests/lambda-run-mode/worker-threads/instances/src/handler.js
  tests/lambda-run-mode/worker-threads/instances/src/package.json
  tests/lambda-run-mode/worker-threads/local-env-vars/src/handler.js
  tests/lambda-run-mode/worker-threads/local-env-vars/src/package.json
  tests/lambda-run-mode/worker-threads/reload-handler/src/handler.js
  tests/lambda-run-mode/worker-threads/reload-handler/src/package.json
  tests/lambda-run-mode/worker-threads/timeout/src/handler.js
  tests/lambda-run-mode/worker-threads/timeout/src/package.json
  tests/scenario/lambda-frameworks/apollo-server-lambda/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-lambda/app/serverless.yml
  tests/scenario/lambda-frameworks/apollo-server-lambda/app/src/index.js
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/serverless.yml
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/src/index.js
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/serverless.yml
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/src/app.js
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/src/index.js
Due: eslint, prettier -c

test: refactor more handlers to use es6 modules
  tests/integration/artifact/local/src/handler1.js
  tests/integration/artifact/local/src/handler2.js
  tests/integration/artifact/local/src/package.json
  tests/integration/authorizer/src/authorizer.js
  tests/integration/authorizer/src/handler.js
  tests/integration/authorizer/src/package.json
  tests/integration/handler/src/handler.js
  tests/integration/handler/src/package.json
  tests/integration/httpApi-cors-default/src/handler.js
  tests/integration/httpApi-cors-default/src/package.json
  tests/integration/httpApi-cors/src/handler.js
  tests/integration/httpApi-cors/src/package.json
  tests/integration/httpApi-headers/src/handler.js
  tests/integration/httpApi-headers/src/package.json
  tests/integration/jwt-authorizer/src/handler.js
  tests/integration/jwt-authorizer/src/package.json
  tests/integration/lambda-integration/src/handler.js
  tests/integration/lambda-integration/src/package.json
  tests/integration/lambda-invoke/src/lambdaInvokeAsyncHandler.js
  tests/integration/lambda-invoke/src/lambdaInvokeHandler.js
  tests/integration/lambda-invoke/src/package.json
  tests/integration/override-authorizer/serverless.yml
  tests/integration/override-authorizer/src/handler.js
  tests/integration/uncategorized/src/handler.js
  tests/integration/uncategorized/src/package.json
  tests/integration/websocket-authorizer/src/authorizer.js
  tests/integration/websocket-authorizer/src/handler.js
  tests/integration/websocket-authorizer/src/package.json
  tests/integration/websocket-oneway/src/handler.js
  tests/integration/websocket-oneway/src/package.json
  tests/integration/websocket-twoway/src/handler.js
  tests/integration/websocket-twoway/src/package.json
Due: eslint, prettier -c

fix: pin luxon to v3.0.1
  package-lock.json
  package.json
Due: prettier -c

fix: pin luxon to v3.0.1 (#1555)
  package-lock.json
  package.json
Due: prettier -c

v9.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: unpin luxon
  package-lock.json
  package.json
Due: prettier -c

test: refactor serverless-plugin-typescript to use es6 modules
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/tsconfig.json
  tests/scenario/serverless-plugins/serverless-webpack/app/tsconfig.json
Due: prettier -c

chore: add example for lambda invoke with aws-sdk v3
  examples/lambda-invoke-v3/.npmrc
  examples/lambda-invoke-v3/package-lock.json
  examples/lambda-invoke-v3/package.json
  examples/lambda-invoke-v3/serverless.yml
  examples/lambda-invoke-v3/src/handler.js
Due: eslint, prettier -c

refactor: remove unsupported dotnet, dotnet core runtimes
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

refactor: simplify ruby runner
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
Due: eslint, prettier -c

refactor: rename time to millis
  src/lambda/LambdaFunction.js
  src/lambda/LambdaFunctionPool.js
Due: eslint, prettier -c

fix: millis calculation
  src/lambda/LambdaFunctionPool.js
Due: eslint, prettier -c

fix: using name instead of schema from provider
  src/ServerlessOffline.js
Due: eslint, prettier -c

chore: remove commented code
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

fix!: remove print ouput option
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

v9.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

feat: add Lambda class to package exports
  package.json
Due: prettier -c

feat: add Lambda class to package exports (#1561)
  package.json
Due: prettier -c

fix!: remove print output option (#1559)
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix!: remove child process option (#1545)
  README.md
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/events/http/HttpServer.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/child-process-runner/childProcessHelper.js
  src/lambda/handler-runner/child-process-runner/index.js
  tests/lambda-run-mode/child-processes/instances/child-process-instances.test.js
  tests/lambda-run-mode/child-processes/instances/serverless.yml
  tests/lambda-run-mode/child-processes/instances/src/handler.js
  tests/lambda-run-mode/child-processes/instances/src/package.json
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  package-lock.json
  package.json
Due: prettier -c

refactor!: rename option to terminate lambda time
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/LambdaFunctionPool.js
Due: eslint, prettier -c

refactor: unsupported docker runtimes
  src/config/supportedRuntimes.js
  src/lambda/handler-runner/HandlerRunner.js
Due: eslint, prettier -c

fix: add node.js v16 to unsupported docker runtimes
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

fix!: remove hide stack traces option
  README.md
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

v10.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

ci: add macos
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
Due: prettier -c

ci: fix
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
Due: prettier -c

test: reduce timer calculation
  tests/lambda-run-mode/worker-threads/timeout/worker-threads-timeout.test.js
Due: eslint, prettier -c

test: skip python tests on macos for now
  tests/runtimes/python/python-big-json/python-big-json.test.js
  tests/runtimes/python/python-module/python-module.test.js
  tests/runtimes/python/python3/python3.test.js
Due: eslint, prettier -c

ci: add macos (#1563)
  .github/workflows/integrate.yml
  .github/workflows/validate.yml
  tests/lambda-run-mode/worker-threads/timeout/worker-threads-timeout.test.js
  tests/runtimes/python/python-big-json/python-big-json.test.js
  tests/runtimes/python/python-module/python-module.test.js
  tests/runtimes/python/python3/python3.test.js
Due: eslint, prettier -c

chore: add prettier script
  package.json
Due: prettier -c

chore: add .prettierignore file
  .prettierignore
Due: none

ci: add matrix setup
  .github/workflows/integrate.yml
  .github/workflows/nodejs.yml
  .github/workflows/validate.yml
Due: prettier -c
