Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc:

{
    "*.js": [
      "eslint"
    ],
    "*.{css,html,js,json,md,yaml,yml}": [
      "prettier -c"
    ]
  }

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

fix: secure web sockets
  src/events/websocket/HttpServer.js
Due: eslint, prettier -c

doc: fix CONTRIBUTING.md for v9
  CONTRIBUTING.md
Due: prettier -c

chore: add httpApi example
  examples/events/httpApi/.npmrc
  examples/events/httpApi/handler.js
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/httpApi/serverless.yml
Due: eslint, prettier -c

fixe typo in README
  README.md
Due: prettier -c

doc: fix a typo in README (#1470)
  README.md
Due: prettier -c

doc: fix more contributing
  CONTRIBUTING.md
Due: prettier -c

refactor: remove p-map module
  package-lock.json
  package.json
  tests/_setupTeardown/npmInstall.js
Due: eslint, prettier -c

doc: fix CONTRIBUTING.md for v9 (#1469)
  CONTRIBUTING.md
Due: prettier -c

chore: bump examples, scenario tests
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/esm/package-lock.json
  examples/tools/esm/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  tests/scenario/apollo-server-lambda/package-lock.json
  tests/scenario/apollo-server-lambda/package.json
  tests/scenario/docker-in-docker/package-lock.json
  tests/scenario/docker-serverless-webpack-test/package-lock.json
  tests/scenario/docker-serverless-webpack-test/package.json
  tests/scenario/serverless-plugin-typescript-test/package-lock.json
  tests/scenario/serverless-plugin-typescript-test/package.json
  tests/scenario/serverless-webpack-test/package-lock.json
  tests/scenario/serverless-webpack-test/package.json
Due: prettier -c

fix: example plugin path
  examples/events/httpApi/serverless.yml
Due: prettier -c

feat: display memory leak warning for in-process handlers
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
Due: eslint, prettier -c

fix: cli option message
  src/config/commandOptions.js
Due: eslint, prettier -c

chore(eslint): fix lines-between-class-members
  .eslintrc.cjs
  src/ServerlessOffline.js
  src/events/http/Endpoint.js
  src/events/http/HttpServer.js
  src/events/http/lambda-events/LambdaIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/VelocityContext.js
  src/events/schedule/Schedule.js
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocket.js
  src/events/websocket/WebSocketClients.js
  src/events/websocket/WebSocketServer.js
  src/events/websocket/lambda-events/WebSocketAuthorizerEvent.js
  src/events/websocket/lambda-events/WebSocketConnectEvent.js
  src/events/websocket/lambda-events/WebSocketEvent.js
  src/events/websocket/lambda-events/WebSocketRequestContext.js
  src/lambda/HttpServer.js
  src/lambda/Lambda.js
  src/lambda/LambdaFunction.js
  src/lambda/LambdaFunctionPool.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsJSONObject.fixture.js
  src/lambda/__tests__/fixtures/Lambda/LambdaFunctionThatReturnsNativeString.fixture.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/child-process-runner/ChildProcessRunner.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/docker-runner/DockerRunner.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

fix: don't require context (#1471)
  src/events/websocket/WebSocketClients.js
  tests/integration/websocket-authorizer/src/authorizer.js
  tests/integration/websocket-authorizer/websocket-authorizer.test.js
Due: eslint, prettier -c

refactor: make cleanupFunctions private
  src/ServerlessOffline.js
Due: eslint, prettier -c

chore: remove comment
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
Due: eslint, prettier -c

test: make offline properties private
  tests/old-unit/support/OfflineBuilder.js
Due: eslint, prettier -c

refactor: use worker threads by default, remove flag, introduce in-process flag
  src/config/commandOptions.js
  src/config/defaultOptions.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/in-process-runner/InProcessRunner.js
  src/lambda/handler-runner/worker-thread-runner/WorkerThreadRunner.js
  src/lambda/handler-runner/worker-thread-runner/workerThreadHelper.js
  tests/old-unit/offline.test.js
  tests/old-unit/support/OfflineBuilder.js
  tests/old-unit/support/RequestBuilder.js
Due: eslint, prettier -c

test: make request builder properties private
  tests/old-unit/support/RequestBuilder.js
Due: eslint, prettier -c

refactor: reduce try/catch block
  src/lambda/handler-runner/docker-runner/DockerRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
Due: eslint, prettier -c

chore: order nit
  .eslintrc.cjs
Due: none

fix: add strict directive
  tests/mochaGlobalSetup.cjs
Due: none

chore: bump boxen (major)
  package-lock.json
  package.json
  tests/scenario/docker-serverless-webpack-test/package-lock.json
  tests/scenario/docker-serverless-webpack-test/package.json
  tests/scenario/serverless-plugin-typescript-test/package-lock.json
  tests/scenario/serverless-plugin-typescript-test/package.json
  tests/scenario/serverless-webpack-test/package-lock.json
  tests/scenario/serverless-webpack-test/package.json
Due: prettier -c

chore: remove comments
  tests/manual/nodejs/serverless.yml
  tests/manual/python/serverless.yml
  tests/manual/ruby/serverless.yml
Due: prettier -c

chore: bump templates
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
Due: prettier -c

feat: add 'configValidationMode: error' option
  examples/events/http/serverless.yml
  examples/events/httpApi/serverless.yml
  examples/events/schedule/serverless.yml
  examples/events/websocket/serverless.yml
  examples/lambda-invoke/serverless.yml
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/babel-register/serverless.yml
  examples/tools/esm/serverless.yml
  examples/tools/nodemon/serverless.yml
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-plugin-typescript/serverless.yml
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/serverless-webpack/serverless.yml
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
  examples/tools/ts-node/serverless.yml
  tests/endToEnd/environmentVariables/src/serverless.yml
  tests/endToEnd/optionParameters/src/serverless.yml
  tests/endToEnd/starRoutes/src/serverless.yml
  tests/endToEnd/starRoutesWithProperties/src/serverless.yml
  tests/endToEnd/trailingSlash/src/serverless.yml
  tests/manual/nodejs/serverless.yml
  tests/manual/python/serverless.yml
  tests/manual/ruby/serverless.yml
  tests/scenario/apollo-server-lambda/serverless.yml
  tests/scenario/docker-in-docker/serverless.yml
  tests/scenario/docker-serverless-webpack-test/serverless.yml
  tests/scenario/serverless-plugin-typescript-test/serverless.yml
  tests/scenario/serverless-webpack-test/serverless.yml
Due: prettier -c

feat: add 'configValidationMode: error' option, Part 2
  tests/integration/java/serverless.yml
  tests/integration/kotlin/serverless.yml
  tests/integration/lambda-integration/serverless.yml
  tests/integration/lambda-invoke/serverless.yml
  tests/integration/python/python-big-json/serverless.yml
  tests/integration/python/python3/serverless.yml
  tests/integration/ruby/serverless.yml
  tests/integration/scala/serverless.yml
  tests/integration/websocket-authorizer/serverless.yml
  tests/integration/websocket-oneway/serverless.yml
  tests/integration/websocket-twoway/serverless.yml
Due: prettier -c

feat: add 'configValidationMode: error' option, Part 3
  tests/integration/artifact/local/serverless.yml
  tests/integration/authorizer/serverless.yml
  tests/integration/go/go1.x/serverless.yml
  tests/integration/groovy/serverless.yml
  tests/integration/httpApi-headers/serverless.yml
Due: prettier -c

test: temporary fix configValidationMode
  tests/integration/httpApi-headers/serverless.yml
Due: prettier -c

feat: add 'configValidationMode: error' option, Part 4
  tests/integration/custom-authentication/serverless.yml
  tests/integration/handler/serverless.yml
  tests/integration/httpApi-cors-default/serverless.yml
  tests/integration/httpApi-cors/serverless.yml
  tests/integration/jwt-authorizer/serverless.yml
  tests/integration/override-authorizer/serverless.yml
  tests/integration/uncategorized/serverless.yml
Due: prettier -c

feat: add 'configValidationMode: error' option, Part 5
  tests/integration/docker/access-host/serverless.yml
  tests/integration/docker/artifact/serverless.yml
  tests/integration/docker/go/go1.x/serverless.yml
  tests/integration/docker/layers/serverless.yml
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs10.x/serverless.yml
  tests/integration/docker/nodejs/nodejs12.x/serverless.yml
  tests/integration/docker/nodejs/nodejs8.10/serverless.yml
  tests/integration/docker/provided/serverless.yml
  tests/integration/docker/python/python3.6/serverless.yml
  tests/integration/docker/python/python3.7/serverless.yml
  tests/integration/docker/python/python3.8/serverless.yml
  tests/integration/docker/ruby/ruby2.7/serverless.yml
Due: prettier -c

test: fix custom auth config
  tests/integration/custom-authentication/serverless.yml
Due: prettier -c

test: fix http-api cors config
  tests/integration/httpApi-cors/serverless.yml
Due: prettier -c

test: fix http-api cors default config
  tests/integration/httpApi-cors-default/serverless.yml
Due: prettier -c
