Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

doc: fix option line breaks
  README.md
Due: prettier -c

test: add code coverage
  .gitignore
  package-lock.json
  package.json
Due: prettier -c

chore: rename old npm scripts
  package.json
Due: prettier -c

v10.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  package-lock.json
  package.json
  tests/runtimes/go/go1.x/go.mod
  tests/runtimes/go/go1.x/go.sum
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

refactor: use optional chaining
  src/ServerlessOffline.js
Due: eslint, prettier -c

feat: secure web sockets (#1468)
  src/events/websocket/HttpServer.js
Due: eslint, prettier -c

chore: import order nit
  src/events/websocket/HttpServer.js
Due: eslint, prettier -c

chore: await websocket start
  src/ServerlessOffline.js
Due: eslint, prettier -c

refactor: websocket servers instantiation
  src/ServerlessOffline.js
  src/events/websocket/WebSocket.js
Due: eslint, prettier -c

refactor: replace jsonwebtoken with jose
  package-lock.json
  package.json
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/VelocityContext.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
Due: prettier -c

refactor: http server instantation for websockets
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocket.js
Due: eslint, prettier -c

refactor: websocket server instantation
  src/events/websocket/WebSocket.js
  src/events/websocket/WebSocketServer.js
Due: eslint, prettier -c

refactor: use node:fs/promises
  src/events/websocket/HttpServer.js
Due: eslint, prettier -c

v10.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: destructuring order nit
  src/events/websocket/HttpServer.js
Due: eslint, prettier -c

perf: improve startup time
  src/ServerlessOffline.js
Due: eslint, prettier -c

refactor: create lambda only when needed
  src/ServerlessOffline.js
Due: eslint, prettier -c

chore: add quotes to log vars
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: usage identifier key condition
  src/events/http/HttpServer.js
Due: eslint, prettier -c

refactor: replace jsonwebtoken with jose (#1579)
  package-lock.json
  package.json
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/VelocityContext.js
  tests/integration/jwt-authorizer/jwt-authorizer.test.js
Due: eslint, prettier -c

v10.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: move private http event condition to http class
  src/ServerlessOffline.js
  src/events/http/Http.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/package-lock.json
  examples/lambda-invoke/package.json
  package-lock.json
  package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package.json
Due: prettier -c

feat: deprecate disableScheduledEvents option
  src/ServerlessOffline.js
Due: eslint, prettier -c

doc: deprecate disableScheduledEvents option in README
  README.md
Due: prettier -c

chore: deprecate disableScheduledEvents in options overview
  src/config/commandOptions.js
Due: eslint, prettier -c

bug fix for diable cookie
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

fix: --disableCookieValidation flag throws error
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

fix: set cookies to undefined
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
Due: eslint, prettier -c

chore: exclude nyc from prettier
  .prettierignore
Due: none

chore: adds dots to option description
  src/config/commandOptions.js
Due: eslint, prettier -c

chore: fix deprecated option
  src/config/commandOptions.js
Due: eslint, prettier -c

v10.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix!: remove disableScheduledEvents option
  README.md
  src/ServerlessOffline.js
  src/config/commandOptions.js
  src/config/defaultOptions.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

fix: private endpoints
  src/events/http/Http.js
Due: eslint, prettier -c

chore: move split handler path
  src/events/http/HttpServer.js
Due: eslint, prettier -c

v10.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
