Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

chore: revert mocharc change
  .mocharc.cjs
Due: none

chore: remove DS_Store
  tests/integration/docker/.DS_Store
Due: none

test: remove unsupported nodejs 21
  tests/integration/docker/nodejs/nodejs21.x/dockerNodejs21.x.test.js
  tests/integration/docker/nodejs/nodejs21.x/handler.js
  tests/integration/docker/nodejs/nodejs21.x/serverless.yml
Due: eslint, prettier -c

ci: change architecture for docker tests
  tests/integration/docker/access-host/serverless.yml
  tests/integration/docker/artifact/serverless.yml
  tests/integration/docker/layers/serverless.yml
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs18.x/serverless.yml
  tests/integration/docker/nodejs/nodejs20.x/serverless.yml
  tests/integration/docker/provided/serverless.yml
Due: prettier -c

ci: use azul instead of temurin
  .github/workflows/nodejs.yml
Due: prettier -c

ci: use zulu openjdk
  .github/workflows/nodejs.yml
Due: prettier -c

ci: use macos-12
  .github/workflows/nodejs.yml
Due: prettier -c

test: add more docker tests (#1779)
  .github/workflows/nodejs.yml
  src/config/supportedRuntimes.js
  tests/integration/docker/access-host/accessHost.test.js
  tests/integration/docker/access-host/serverless.yml
  tests/integration/docker/artifact/serverless.yml
  tests/integration/docker/layers/serverless.yml
  tests/integration/docker/multiple/dockerMultiple.test.js
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/.DS_Store
  tests/integration/docker/nodejs/nodejs12.x/dockerNodejs12.x.test.js
  tests/integration/docker/nodejs/nodejs18.x/dockerNodejs18.x.test.js
  tests/integration/docker/nodejs/nodejs18.x/handler.js
  tests/integration/docker/nodejs/nodejs18.x/serverless.yml
  tests/integration/docker/nodejs/nodejs20.x/dockerNodejs20.x.test.js
  tests/integration/docker/nodejs/nodejs20.x/handler.js
  tests/integration/docker/nodejs/nodejs20.x/serverless.yml
  tests/integration/docker/python/.DS_Store
  tests/integration/docker/python/python3.10/dockerPython3.10.test.js
  tests/integration/docker/python/python3.10/handler.py
  tests/integration/docker/python/python3.10/serverless.yml
  tests/integration/docker/python/python3.11/dockerPython3.11.test.js
  tests/integration/docker/python/python3.11/handler.py
  tests/integration/docker/python/python3.11/serverless.yml
  tests/integration/docker/ruby/ruby3.2/dockerRuby3.2.test.js
  tests/integration/docker/ruby/ruby3.2/handler.rb
  tests/integration/docker/ruby/ruby3.2/serverless.yml
Due: eslint, prettier -c

v13.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: update contributors in README
  README.md
Due: prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v2/package.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package-lock.json
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/package.json
  examples/tools/babel-register/package-lock.json
  examples/tools/babel-register/package.json
  examples/tools/nodemon/package-lock.json
  examples/tools/nodemon/package.json
  examples/tools/serverless-plugin-typescript/package-lock.json
  examples/tools/serverless-plugin-typescript/package.json
  examples/tools/serverless-webpack/package-lock.json
  examples/tools/serverless-webpack/package.json
  examples/tools/ts-node/package-lock.json
  examples/tools/ts-node/package.json
Due: prettier -c

chore: formatting for README
  README.md
Due: prettier -c

feat: convert multipart/form-data to base64 encoded payloads (#1776)
  src/events/http/HttpServer.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  tests/integration/httpApi-headers/httpApi-headers.test.js
  tests/integration/httpApi-headers/serverless.yml
  tests/integration/httpApi-headers/src/handler.js
Due: eslint, prettier -c

v13.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

refactor: use provided log utils
  package-lock.json
  package.json
  src/ServerlessOffline.js
  src/events/alb/HttpServer.js
  src/events/authFunctionNameExtractor.js
  src/events/authValidateContext.js
  src/events/http/Endpoint.js
  src/events/http/HttpServer.js
  src/events/http/authJWTSettingsExtractor.js
  src/events/http/createAuthScheme.js
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/renderVelocityTemplateObject.js
  src/events/schedule/Schedule.js
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocketClients.js
  src/events/websocket/WebSocketServer.js
  src/events/websocket/http-routes/_catchAll/catchAllRoute.js
  src/events/websocket/http-routes/connections/connectionsRoutes.js
  src/lambda/HttpServer.js
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/docker-runner/DockerImage.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/routes/invocations/InvocationsController.js
  src/utils/getHttpApiCorsConfig.js
  src/utils/log.js
  tests/_testHelpers/pullImage.js
Due: eslint, prettier -c

refactor: use provided log utils
  src/utils/log.js
  tests/old-unit/support/OfflineBuilder.js
Due: eslint, prettier -c

supoort for "provided" runtime outside of Docker
  src/config/supportedRuntimes.js
  src/lambda/RuntimeServer.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/bootstrap-runner/BootstrapRunner.js
  src/lambda/handler-runner/bootstrap-runner/index.js
  tests/lambda-run-mode/in-process/provided/bootstrap
  tests/lambda-run-mode/in-process/provided/handler.sh
  tests/lambda-run-mode/in-process/provided/inProcessProvided.test.js
  tests/lambda-run-mode/in-process/provided/serverless.yml
Due: eslint, prettier -c

move tests
  tests/lambda-run-mode/provided/bootstrap
  tests/lambda-run-mode/provided/handler.sh
  tests/lambda-run-mode/provided/inProcessProvided.test.js
  tests/lambda-run-mode/provided/serverless.yml
Due: eslint, prettier -c

Update README.md
  README.md
Due: prettier -c

dont add authorizor to event if no authorizer is configured
  src/events/http/HttpServer.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/handler.js
Due: eslint, prettier -c

update test descriptions
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
Due: eslint, prettier -c

chore: prettier fix
  tests/old-unit/support/OfflineBuilder.js
Due: eslint, prettier -c

fix: change log to log.debug
  src/lambda/handler-runner/go-runner/GoRunner.js
Due: eslint, prettier -c

Update src/events/http/HttpServer.js
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: skip adding authorizer to event if no authorizer is configured (#1786)
  src/events/http/HttpServer.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/handler.js
Due: eslint, prettier -c

chore: add .DS_Store to gitignore
  .gitignore
Due: none

refactor: use provided log utils (#1784)
  .gitignore
  package-lock.json
  package.json
  src/ServerlessOffline.js
  src/events/alb/HttpServer.js
  src/events/authFunctionNameExtractor.js
  src/events/authValidateContext.js
  src/events/http/Endpoint.js
  src/events/http/HttpServer.js
  src/events/http/authJWTSettingsExtractor.js
  src/events/http/createAuthScheme.js
  src/events/http/createJWTAuthScheme.js
  src/events/http/lambda-events/LambdaIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
  src/events/http/lambda-events/LambdaProxyIntegrationEventV2.js
  src/events/http/lambda-events/renderVelocityTemplateObject.js
  src/events/schedule/Schedule.js
  src/events/websocket/HttpServer.js
  src/events/websocket/WebSocketClients.js
  src/events/websocket/WebSocketServer.js
  src/events/websocket/http-routes/_catchAll/catchAllRoute.js
  src/events/websocket/http-routes/connections/connectionsRoutes.js
  src/lambda/HttpServer.js
  src/lambda/LambdaFunction.js
  src/lambda/handler-runner/HandlerRunner.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
  src/lambda/handler-runner/docker-runner/DockerImage.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/handler-runner/java-runner/JavaRunner.js
  src/lambda/handler-runner/python-runner/PythonRunner.js
  src/lambda/handler-runner/ruby-runner/RubyRunner.js
  src/lambda/routes/invocations/InvocationsController.js
  src/utils/getHttpApiCorsConfig.js
  src/utils/log.js
  tests/_testHelpers/pullImage.js
  tests/old-unit/support/OfflineBuilder.js
Due: eslint, prettier -c

v13.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

feat: add support for provided.al2023
  src/config/supportedRuntimes.js
  tests/integration/docker/provided-al2023/bootstrap
  tests/integration/docker/provided-al2023/dockerProvided.test.js
  tests/integration/docker/provided-al2023/handler.sh
  tests/integration/docker/provided-al2023/serverless.yml
Due: eslint, prettier -c

feat: add support for provided.al2023 (#1788)
  src/config/supportedRuntimes.js
  tests/integration/docker/provided-al2023/bootstrap
  tests/integration/docker/provided-al2023/dockerProvided.test.js
  tests/integration/docker/provided-al2023/handler.sh
  tests/integration/docker/provided-al2023/serverless.yml
Due: eslint, prettier -c

chore: prettier fix
  src/utils/index.js
  tests/old-unit/utils.test.js
Due: eslint, prettier -c

fix: treat application/octet-stream as a binary encoding (#1587)
  src/utils/index.js
  tests/old-unit/utils.test.js
Due: eslint, prettier -c

Run prettier
  src/events/alb/HttpServer.js
Due: eslint, prettier -c

v13.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: Support ALB Event response headers (#1756)
  examples/events/alb/src/handler-response-header.js
  src/events/alb/HttpServer.js
  tests/integration/alb-headers/alb-headers.test.js
  tests/integration/alb-headers/serverless.yml
  tests/integration/alb-headers/src/handler.js
  tests/integration/alb-headers/src/package.json
Due: eslint, prettier -c

Also need to copy type from authorizer config to support sample code
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Support resultTtlInSeconds being set to 0 in the provider config
  src/events/http/HttpServer.js
Due: eslint, prettier -c

Don't copy full config since what's supported is manually mapped, check if httpApi before redirecting auth function
  src/events/http/HttpServer.js
Due: eslint, prettier -c

fix: Support httpApi authorizer with different config and function names
  src/events/http/HttpServer.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
Due: eslint, prettier -c

Fix test failure caused by new hasAuthorizer test field
  tests/integration/request-authorizer/request-authorizer.test.js
Due: eslint, prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
