Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

test: fix status code 200 for empty responses
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/handler/handlerPayload.test.js
  tests/old-unit/offline.test.js
Due: eslint, prettier -c

fix: set status code 200 for empty responses (#1627)
  src/events/alb/HttpServer.js
  src/events/http/HttpServer.js
  tests/integration/alb-handler/handlerPayload.test.js
  tests/integration/handler/handlerPayload.test.js
  tests/old-unit/offline.test.js
Due: eslint, prettier -c

v12.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

chore: use npm package-lock v3
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package.json
  tests/scenario/docker/docker-in-docker/app/package-lock.json
  tests/scenario/docker/docker-serverless-webpack/app/package-lock.json
  tests/scenario/docker/docker-serverless-webpack/app/package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package-lock.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
Due: prettier -c

ci: use npm v9
  .github/workflows/nodejs.yml
Due: prettier -c

ci: add condition
  .github/workflows/nodejs.yml
Due: prettier -c

ci: install npm v8 for windows perm issues
  .github/workflows/nodejs.yml
Due: prettier -c

chore: bump deps, use npm package-lock v3 (#1629)
  .github/workflows/nodejs.yml
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v2/src/package.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package-lock.json
  tests/integration/lambda-invoke-aws-sdk-v3/src/package.json
  tests/scenario/docker/docker-in-docker/app/package-lock.json
  tests/scenario/docker/docker-serverless-webpack/app/package-lock.json
  tests/scenario/docker/docker-serverless-webpack/app/package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package.json
  tests/scenario/lambda-frameworks/middy-lambda/app/package-lock.json
  tests/scenario/lambda-frameworks/serverless-http-with-express/app/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package-lock.json
  tests/scenario/lambda-frameworks/vendia-serverless-express/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
Due: prettier -c

refactor: use array-unflat-js
  package-lock.json
  package.json
  src/utils/__tests__/unflatten.test.js
  src/utils/parseHeaders.js
  src/utils/parseMultiValueHeaders.js
  src/utils/unflatten.js
Due: eslint, prettier -c

chore: bump deps
  package-lock.json
  package.json
Due: prettier -c

refactor: use array-unflat-js (#1632)
  package-lock.json
  package.json
  src/utils/__tests__/unflatten.test.js
  src/utils/parseHeaders.js
  src/utils/parseMultiValueHeaders.js
  src/utils/unflatten.js
Due: eslint, prettier -c

refactor: remove default parameter
  src/utils/parseHeaders.js
  src/utils/parseMultiValueHeaders.js
Due: eslint, prettier -c

v12.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

rebuild package-lock
  package-lock.json
Due: prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/alb/package.json
  examples/events/http/package-lock.json
  examples/events/http/package.json
  examples/events/httpApi/package-lock.json
  examples/events/httpApi/package.json
  examples/events/schedule/package-lock.json
  examples/events/schedule/package.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
Due: prettier -c

chore: remove unused npm test scripts
  package.json
Due: prettier -c

ci: add npm test scripts
  .mocharc.cjs
  package.json
  tests/end-to-end/environmentVariables/environmentVariables.test.js
  tests/end-to-end/environmentVariables/src/handler.js
  tests/end-to-end/environmentVariables/src/package.json
  tests/end-to-end/environmentVariables/src/serverless.yml
  tests/end-to-end/optionParameters/optionParameters.test.js
  tests/end-to-end/optionParameters/src/handler.js
  tests/end-to-end/optionParameters/src/package.json
  tests/end-to-end/optionParameters/src/serverless.yml
  tests/end-to-end/starRoutes/src/handler.js
  tests/end-to-end/starRoutes/src/package.json
  tests/end-to-end/starRoutes/src/serverless.yml
  tests/end-to-end/starRoutes/starRoutes.test.js
  tests/end-to-end/starRoutesRestApi/src/handler.js
  tests/end-to-end/starRoutesRestApi/src/package.json
  tests/end-to-end/starRoutesRestApi/src/serverless.yml
  tests/end-to-end/starRoutesRestApi/starRoutesRestApi.test.js
  tests/end-to-end/starRoutesWithProperties/src/handler.js
  tests/end-to-end/starRoutesWithProperties/src/package.json
  tests/end-to-end/starRoutesWithProperties/src/serverless.yml
  tests/end-to-end/starRoutesWithProperties/starRoutes.test.js
Due: eslint, prettier -c

fix remaining tests
  src/events/http/lambda-events/LambdaProxyIntegrationEvent.js
Due: eslint, prettier -c

chore: remove eslint-disable-next-line
  tests/integration/custom-authentication/serverless.yml
  tests/integration/custom-authentication/src/authenticationProvider.js
Due: eslint, prettier -c

chore: add eslint-plugin-unicorn
  .eslintrc.cjs
  package-lock.json
  package.json
  tests/integration/docker/multiple/handler.js
  tests/integration/docker/nodejs/nodejs12.x/handler.js
Due: eslint, prettier -c

chore(lint): fix unicorn/text-encoding-identifier-case
  .eslintrc.cjs
  examples/lambda-invoke/lambda-invoke-aws-sdk-v3/src/handler.js
  src/events/http/HttpServer.js
  src/events/websocket/HttpServer.js
  src/events/websocket/http-routes/connections/ConnectionsController.js
  src/lambda/handler-runner/go-runner/GoRunner.js
  src/lambda/routes/invocations/invocationsRoute.js
  src/lambda/routes/invoke-async/invokeAsyncRoute.js
  tests/integration/lambda-invoke-aws-sdk-v3/src/lambdaInvokeHandler.js
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/gateway/src/index.js
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/inventory/src/index.js
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/products/src/index.js
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/users/src/index.js
Due: eslint, prettier -c

chore(lint): set es2022
  .eslintrc.cjs
Due: none

chore(lint): fix unicorn/new-for-builtins
  .eslintrc.cjs
  src/utils/__tests__/createUniqueId.test.js
  tests/lambda-run-mode/in-process/instances/in-process-instances.test.js
  tests/lambda-run-mode/worker-threads/instances/worker-threads-instances.test.js
  tests/lambda-run-mode/worker-threads/reload-handler/reload-handler.test.js
  tests/lambda-run-mode/worker-threads/timeout/worker-threads-timeout.test.js
Due: eslint, prettier -c

chore(lint): fix switch-case-braces
  .eslintrc.cjs
  src/events/http/lambda-events/renderVelocityTemplateObject.js
  src/events/schedule/Schedule.js
  tests/integration/authorizer/src/authorizer.js
Due: eslint, prettier -c

chore(lint): fix unicorn/numeric-separators-style
  .eslintrc.cjs
  src/utils/__tests__/createUniqueId.test.js
  tests/manual/nodejs/subprocess.js
  tests/runtimes/python/python-big-json/python-big-json.test.js
Due: eslint, prettier -c

chore(lint): fix unicorn/better-regex
  .eslintrc.cjs
  src/utils/__tests__/formatToClfTime.test.js
Due: eslint, prettier -c

chore(lint): fix unicorn/explicit-length-check
  .eslintrc.cjs
  src/events/http/HttpServer.js
  src/events/http/createJWTAuthScheme.js
Due: eslint, prettier -c

chore: simplify, use ternary
  src/events/http/HttpServer.js
Due: eslint, prettier -c

chore(lint): fix unicorn/no-negated-condition
  .eslintrc.cjs
  src/events/http/HttpServer.js
  src/lambda/handler-runner/docker-runner/DockerContainer.js
Due: eslint, prettier -c

chore: nit
  tests/manual/websocket/main/test/e2e/ws.e2e.js
Due: eslint, prettier -c

chore(lint): fix unicorn/prefer-regexp-test
  .eslintrc.cjs
  src/events/http/HttpServer.js
  src/utils/checkGoVersion.js
  src/utils/splitHandlerPathAndName.js
Due: eslint, prettier -c

chore: bump deps
  examples/events/alb/package-lock.json
  examples/events/http/package-lock.json
  examples/events/httpApi/package-lock.json
  examples/events/schedule/package-lock.json
  examples/events/websocket/package-lock.json
  examples/events/websocket/package.json
  package-lock.json
  package.json
  tests/scenario/lambda-frameworks/apollo-federation-supergraph/app/package-lock.json
  tests/scenario/lambda-frameworks/apollo-server-integrations/app/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-esbuild/app/package.json
  tests/scenario/serverless-plugins/serverless-plugin-typescript/app/package-lock.json
  tests/scenario/serverless-plugins/serverless-webpack/app/package-lock.json
Due: prettier -c

fix Custom Authorizer Lambda Request context missing accountId and apiId fields
  src/events/http/createAuthScheme.js
Due: eslint, prettier -c

v12.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: support authorizer with no identity source specified
  src/events/http/HttpServer.js
  src/events/http/createAuthScheme.js
  tests/integration/no-identity-source-authorizer/no-identity-source-authorizer.test.js
  tests/integration/no-identity-source-authorizer/serverless.yml
  tests/integration/no-identity-source-authorizer/src/authorizer.js
  tests/integration/no-identity-source-authorizer/src/handler.js
  tests/integration/no-identity-source-authorizer/src/package.json
Due: eslint, prettier -c

Add support for multi identity sources
  src/events/http/createAuthScheme.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/serverless.yml
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

Fix integration tests
  src/events/http/createAuthScheme.js
  tests/integration/request-authorizer/request-authorizer.test.js
  tests/integration/request-authorizer/src/authorizer.js
Due: eslint, prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
