Repository dherault/serverless-offline: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

Publish v13.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Remove sponsor logging
  src/utils/logSponsor.js
Due: eslint, prettier -c

Re-add missing console.log
  src/utils/logSponsor.js
Due: eslint, prettier -c

ci: release workflow
  .github/workflows/release.yml
Due: prettier -c

ci: release workflow (#1834)
  .github/workflows/release.yml
Due: prettier -c

Publish v14.3.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

ci: fix major_version in release.yml workflow
  .github/workflows/release.yml
Due: prettier -c

Publish v13.8.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

fix: update dependency to close vulnerability
  package-lock.json
  package.json
Due: prettier -c

bump version to the latest available
  package-lock.json
  package.json
Due: prettier -c

feat: add support for nodejs22.x runtime
  src/config/supportedRuntimes.js
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs22.x/dockerNodejs22.x.test.js
  tests/integration/docker/nodejs/nodejs22.x/handler.js
  tests/integration/docker/nodejs/nodejs22.x/serverless.yml
Due: eslint, prettier -c

fix: fix tests
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs22.x/serverless.yml
Due: prettier -c

fix: update jsonpath-plus to close vulnerability (#1835)
  package-lock.json
  package.json
Due: prettier -c

ci: mock serverless api response for tests
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  tests/_testHelpers/serverlessApiMockSetup.js
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: fix missing __dirname
  tests/_testHelpers/serverlessApiMockSetup.js
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: fix mock setup
  tests/_testHelpers/serverlessApiMockSetup.cjs
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: add more logs
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: fix path for windows
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: fix windows path
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: fix workflow on windows
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

ci: mock serverless api response for tests (#1840)
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
  tests/_testHelpers/serverlessApiMockSetup.cjs
  tests/_testHelpers/setupTeardown.js
Due: eslint, prettier -c

feat: add support for nodejs22.x runtime (#1837)
  src/config/supportedRuntimes.js
  tests/integration/docker/multiple/serverless.yml
  tests/integration/docker/nodejs/nodejs22.x/dockerNodejs22.x.test.js
  tests/integration/docker/nodejs/nodejs22.x/handler.js
  tests/integration/docker/nodejs/nodejs22.x/serverless.yml
Due: eslint, prettier -c

Add Airfriend brag on README
  README.md
Due: prettier -c

feat: add support for nodejs22.x runtime to v13 (#1838)
  src/config/supportedRuntimes.js
  tests/integration/docker/nodejs/nodejs22.x/dockerNodejs22.x.test.js
  tests/integration/docker/nodejs/nodejs22.x/handler.js
  tests/integration/docker/nodejs/nodejs22.x/serverless.yml
Due: eslint, prettier -c

fix: update v13 to close jsonpath vulnerability
  package.json
Due: prettier -c

chore: update package lock
  package-lock.json
Due: prettier -c

fix: update v13 to close jsonpath vulnerability (#1841)
  package-lock.json
  package.json
Due: prettier -c

Publish v14.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

Publish v13.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier -c

ci: remove sparticuz chrome failing tests
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/package.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/serverless.yml
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http-api/src/index.js
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package-lock.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/package.json
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/serverless.yml
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/app-http/src/index.js
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http-api.test.js
  tests/scenario/lambda-frameworks/sparticuz-chrome-aws-lambda/sparticuz-chrome-aws-lambda-http.test.js
Due: eslint, prettier -c

feat: add intrinsic
  src/lambda/LambdaFunction.js
  src/utils/__tests__/renderIntrinsicFunction.test.js
  src/utils/renderIntrinsicFunction.js
Due: eslint, prettier -c

Update LICENSE, fix license year
  LICENSE
Due: none

Update LICENSE
  LICENSE
Due: none

Load in ESM mode if package.json type is module
  src/lambda/handler-runner/in-process-runner/aws-lambda-ric/UserFunction.js
Due: eslint, prettier -c

feat: add support for python 3.12 and 3.13 to v13
  src/config/supportedRuntimes.js
Due: eslint, prettier -c

Add missing test usage for commonjs
  tests/handler-module-formats/commonjs/handlerModuleFormats.test.js
Due: eslint, prettier -c

Path conditions:
  eslint: any of: *.js
  prettier -c: any of: *.{css,html,js,json,md,yaml,yml}
